.color-nav{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #005AA7, #FFFDE4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #005AA7, #FFFDE4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #wrapper {
    overflow-x: hidden;
  } 

  #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  }

  #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
  width: 12rem;
  }

  #page-content-wrapper {
  min-width: 100vw;
  }

  #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  }

  @media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  }
  #navbar-left {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: Bold;
      font-size: 20px;
      color: black;
      margin-left: auto;
      }
      .navbar-brand {
      font-family: Bangers; 
      font-weight: Bold; 
      font-size: 25px; 
      color: rgb(255, 0, 0);  
    }
      .img-navAppPage{
        height: 45px;
        animation:none;
      }
         /* Las animaciones de entrada y salida pueden utilizar */
    /* diferentes funciones y duraciones                   */
    .v-enter-active, .v-leave-active {
      transition: opacity .5s;
      }
      .v-enter, .v-leave-to
      /* .slide-fade-leave-active for <2.1.8 */ {
      opacity: 0;
      }