<template>
    <div>
        <!--  fghdfhdfdfn -->
        <v-btn
            style="outline:none;font-family:Bangers;font-size:24px;"
            class="waves-effect animated"
            dark
            outlined
            large
            @click.stop="dialog = true"
            >
            Apúntate ahora
            </v-btn>

            <v-dialog
            v-model="dialog"
            width="600px"
            persistent
            >
                <v-container>
                    <v-row justify="center">
                        <v-card class="elevation-5">
                        <v-card-title>
                            <span class="headline">Solicitud de clase gratuita</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-form @submit.prevent="validate"
                                ref="form"
                                v-model="valid"
                                lazy-validation
                                >
                                    <v-row>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-select
                                            v-model="request.typeId"
                                            :items="typesId"
                                            item-text="text"
                                            item-value="value"
                                            chips
                                            :rules="typeIdRules"
                                            label="Tipo de documento de identidad"
                                            required
                                            ></v-select>
                                        </v-col>
                                        
                                        <v-col cols="12" md="12" lg="12">
                                            <v-text-field label="Número de documento" id="id" :rules="idRules" v-model="request.id"></v-text-field>  
                                        </v-col>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-text-field label="Nombre completo" id="name" :rules="nameRules" v-model="request.name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-text-field label="Correo electrónico" id="email" :rules="emailRules" v-model="request.email"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-text-field label="Teléfono" id="phoneNumber" :rules="telephoneRules" v-model="request.telephone"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-textarea outlined label="Mensaje(Opcional)" id="message" v-model="request.message"></v-textarea>
                                        </v-col>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-btn type="submit" color="primary">Enviar</v-btn>
                                            <v-btn @click="reset()" color="error">Cancelar</v-btn>
                                        </v-col>
                                        </v-row>
                                        </v-form>    
                            </v-container>
                        </v-card-text>
                    </v-card>
                    </v-row>
                </v-container>   
            </v-dialog>
        <v-snackbar
                v-model="getSnackbarC.visible"
                :timeout="2000"
                right
                shaped
                bottom
                :color="getSnackbarC.color"
                elevation="24"
                transition="fab-transition"
            >
                <v-icon left>
                  {{ getSnackbarC.icon }}
                </v-icon>
                {{ getSnackbarC.message }}
        </v-snackbar>
    </div>
</template>

<style>
    
    .animated{
        animation: moveToUp 1s ease-in;
    }   
    @keyframes moveToUp {
     0%{
         opacity:0;
         transform: translateY(100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
</style>

<script src = "../HomePage/FreeClassScript.js"></script>
