<template>
    <div class="container-content"> 
        <header class="header-box">
            <div class="header-text">
                <h1>El Box</h1>
                <h2>Ven a conocernos. Empieza tu desafío</h2>
                <h5>El Box es como se llama al lugar donde entrenamos, pero no es solo eso, es un sitio para divertirse, compartir esfuerzo y conocer gente que comparte tu pasión.</h5>
                <h5>Las clases las hacemos todos juntos y se adaptan a tu nivel con plazas limitadas y un coach siempre pendiente de ti.</h5>
                <div class="bg-dark" style="witdh:50px; margin:auto">
                    <freeclass-component></freeclass-component>
                </div>
                
            </div>
            
        </header>
        <div class="box-wave">
            <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #000;"></path></svg></div>
        </div>
        <footer class="page-footer font-small black darken-3">
            <!-- Footer Elements -->
            <div class="ml-5">

                <!-- Grid row-->
                <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 col-lg-6">
                    <div class="">
                        <!-- Facebook -->
                        <a class="fb-ic" href="https://www.facebook.com/desafiatetraining/" target="_blank">
                            <i class="fab fa-facebook-f fa-lg black-text fa-2x icono"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="https://www.instagram.com/desafiatetraining/" target="_blank">
                            <i class="fab fa-instagram fa-lg black-text fa-2x icono"> </i>
                        </a>
                        <div class="mt-3">
                            <p>Teléfono <br> 3156684500</p>
                        <p>Dirección <br> Cra. 2 Nte. ##5 - 109 <br>Yumbo, Bermejal, Yumbo, Valle del Cauca, Colombia</p>
                    
                        </div>
                        </div>
                </div>
                <div class="col-md-12 col-lg-6 py-5">
                    <div class="row">
                            <a href="#" class="cols-12 col-lg-12">Volver al inicio</a>
                            <a href="" class="cols-12 col-lg-12">Aviso legal y condiciones del Box</a>
                            <a href="" class="cols-12 col-lg-12">Aviso Legal</a>
                            <a href="" class="cols-12 col-lg-12">Polílita de privacidad</a>
                            <a href="" class="cols-12 col-lg-12">Política de cookies</a>
                    </div>      
                </div>

                <!-- Grid column -->
                </div>
                <!-- Grid row-->

            </div>
            <!-- Footer Elements -->
        </footer>
        <!-- Footer -->
    </div>
</template>

<style >
.icono{
    text-align: center;
    padding: 14px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    .container-content{
        font-family: 'Open Sans', sans-serif;
    }
    .style-title{
        font-family: Bangers; 
        font-weight: 900;
    }
    .header-box{
       background: #ffffff;  /* fallback for old browsers */  
        height: auto;
        padding: 48px;
        width: 100%;
    }
    .container{
        width: 95%; 
        max-width: 1200px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-around;
    }
    img{
        display: block;
        height: 400px;
        object-fit: cover;
        animation: moveToUp 1s ease-in; 
    }
    .header-text{ 
        width: 50%;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }
    .header-text h1{
        font-family: Bangers;
        font-size: 80px;
        animation: moveToLeft 1s ease-in; 
    }
    .header-text h2{
        font-family: Bangers;
        font-size: 40px;
        animation: modeToRight 1s ease-in; 
    }
    .header-text h5{
        animation: modeToRight 1s ease-in; 
    }
    .box-wave{
        height: 100px;
        width: 100%;
        background: #ffffff;  /* fallback for old browsers */
    }
    .box-footer{
        background: black;
        height: 200px;
    }
 @keyframes moveToLeft {
     0%{
         opacity:0;
         transform: translateX(-100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
 @keyframes modeToRight {
     0%{
         opacity:0;
         transform: translateX(100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
 @keyframes moveToUp {
     0%{
         opacity:0;
         transform: translateY(100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
    
        
</style>

<script>
export default {
    
}
</script>