<template>
    <div class="container p-4" style="">
        <div class="row">
            <div v-for="(item,index) in plans" :key="index" class="cols-12 col-md-4"> 
            <div class="card" style="width:18rem">
            <div class="card-header blue-gradient text-header" style="height:100px">{{item.name}}</div>   
            <div class="card-body text-center">
                <h3 class="card-subtitle font-weight-bold my-3">$ {{item.price}}</h3>
                <h4 class="card-subtitle font-weight-bold mt-3">Clases:</h4>
                <h4 v-if="item.wod == 1" class="card-subtitle font-weight-bold my-1">Wod</h4>
                <h4 v-if="item.wod_online == 1" class="card-subtitle font-weight-bold my-1">Wod Online</h4>
                <!-- <p v-if="item.wod == 1 && item.wod_online == 1" class="card-text">Wod y Wod Online</p> -->
            </div>
        </div>
        </div>    
        </div>
          
    </div>    
</template>

<style >
    .container{
        width: auto;
        max-width: 1366px;
        align-items: center;
    }
    .text-header{
        text-align: center  ;
        font-family: Bangers;
        font-size: 50px;
        color: white;
    }
    
</style>
    
<script>
export default {
    created() {
        this.loadPlans()
    },
    data() {
        return {
            plans:[]
        }
    },
    methods: {
        loadPlans(){
            axios.get('/plans')
                .then(response => {                     
                    this.plans = response.data;
                    console.log(this.plans);                                    
                })
                .catch(function (error) {
                     console.log(error);
                });
                
        },
    },
}
</script>