<template>
    <div>
        <div class="container">
            <div class="row">
                <div v-for="(item,index) in coaches" :key="index" class="col-lg-4">
                    <div class="card">
                    <img :src="`${item.photo}`" class="card-img-top" alt="...">    
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}} {{item.surnames}}</h5>
                    </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.getCoaches();
    },
    data() {
        return {
            coaches:[]
        }
    },
    methods: {
        getCoaches(){
            axios.get('/query-coaches')
                .then(response => {                     
                    this.coaches = response.data;                    
                })
                .catch(function (error) {
                     console.log(error);
                });
        }
    },
}
</script>