<template>
    <div class="container-content">
        <header>
            <div class="container">
                <div class="text"> 
                    <h1>Desafíate Training</h1>
                    <h2>Desafía tus límites</h2>
                    <h2>Ven y entrena con nosotros</h2>
                    <freeclass-component></freeclass-component>
                </div>
            <img class="img-homepage" src="imagesProject/logoDesafiateTraining.png" alt="">
            </div>
            
                 
        </header>
        <div class="wave">
            <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
        </div>
         <homepagebox-component></homepagebox-component>
    </div>    
</template>

<style >
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    .container-content{
        font-family: 'Open Sans', sans-serif;

    }
    .style-title{
        font-family: Bangers; 
        font-weight: 900;
    }
    header{
        background: #005AA7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #005AA7, #FFFDE4);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #005AA7, #FFFDE4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: auto;
        padding: 48px;
        width: 100%;
    }
    .container{
        width: 95%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-around;
    }
    .img-homepage{
        display: block;
        height: 450px;
        object-fit: cover;
        animation: moveToUp 1s ease-in; 
    }
    .text{
        width: 50%;
        color: white;
        font-weight: bolder;
    }
    .text h1{
        font-family: Bangers;
        font-size: 80px;
        animation: moveToLeft 1s ease-in; 
    }
    .text h2{
        font-family: Bangers;
        font-size: 40px;
        animation: modeToRight 1s ease-in; 
    }
    .wave{
        height: 100px;
        width: 100%;
        background: #005AA7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #005AA7, #FFFDE4);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #005AA7, #FFFDE4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 @keyframes moveToLeft {
     0%{
         opacity:0;
         transform: translateX(-100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
 @keyframes modeToRight {
     0%{
         opacity:0;
         transform: translateX(100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
 @keyframes moveToUp {
     0%{
         opacity:0;
         transform: translateY(100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
    
        
</style>

<script>
export default { 
    
}
</script>