<template>
    <div>
        <div class="container bg-primary text-center p-2 my-4">
            <h1 class="font-weight-bold text-white">Informes</h1>
        </div>

        <v-container>
            <v-card class="elevation-5">
                <v-row align="center" justify="space-around">
                    <v-btn class="my-auto" color="primary" large @click="showReports">Actualizar</v-btn>
                </v-row>
            </v-card>
        </v-container>

        <v-container v-if="loaded">
            <v-row>
                <v-col cols="12" md="6">
                    <v-card width="600px" class="elevation-5 p-3">
                    <v-card-title>
                        <h3 class="font-weight-bold mx-auto">Informe de edades</h3>
                    </v-card-title>
                        <report-ages :chartData="chartdata1" :options="options"></report-ages>
                    </v-card>
                </v-col>
                <v-col cols="12" md="6">
                    <v-card width="600px" class="elevation-5 p-3">
                    <v-card-title>
                        <h3 class="font-weight-bold mx-auto">Número de atletas por plan</h3>
                    </v-card-title>
                        <report-students-by-plan :chartData="chartdata2" :options="options"></report-students-by-plan>
                    </v-card>
                </v-col> 
            </v-row>
        </v-container>
    </div>
</template>

<script src="../ReportsModule/ReportsModuleScript.js"></script>
