<template>
    <div v-if="payment===true">
        <div class="container card cols-12 col-lg-12 blue-gradient text-center p-2 my-2">
            <h1 class="font-weight-bold text-white">Reservar clase</h1>
        </div>
        <div class="container">
            <div class="card mx-2 my-2 div-class p-3">
                <div class="header d-inline-flex row pl-4">
                    <div class="cols-12 col-lg-12 my-3 d-inline-flex">
                        <h5 class="font-weight-bold">Wod Online</h5>
                        <div class="ml-auto">
                            <button class="btn btn-primary btn-sm"><i class="fas fa-user"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                            <button class="btn btn-danger btn-sm">Estado</button>
                        </div>
                    </div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1">Coach</div>
                </div>
                <hr>
                <div class="card-body row">
                    <!-- <img :src="`${item.photo}`" :alt="`foto de perfil de ${item.name}`"  class="mr-auto img-size-table"> -->
                    <!-- <button class="btn blue-gradient btn-sm"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Reservar clase">event</i></button> -->
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1 my-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1 my-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1 my-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1 my-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1 my-1">Coach</div>
                    <div class="div-coach bg-danger cols-12 col-lg-2 mx-1 my-1">Coach</div>
                </div>
                <hr class="">
                <div class="footer d-inline-flex">
                        <!-- Editar usuario -->
                        <button class="btn-warning size-button mx-1" data-toggle="modal" data-target="#editUserModal" data-backdrop="static" data-keyboard="false" @click="editForm(item)"><i class="fas fa-pen-square fa-2x" data-toggle="tooltip" data-placement="top" title="Editar rol"></i></button>
                </div>
            </div>        <!-- Fin Editar usuario -->            
        </div>
    </div>
    <div v-else class="card cols-12 col-lg-6 bg-danger text-center p-2 my-5 mx-auto">
        <h1 class="font-weight-bold text-white">Se ha vencido tu pago</h1>
        <div class="font-weight-bold text-white my-1"><i class="fas fa-frown fa-9x"></i></div>
        <h5 class="font-weight-bold text-white my-2">Contacta con el administrador del gimnasio para renovar tu pago</h5>
    </div>    
</template>

<script>
export default {
 created() {
    axios.get('/query-payment')
                .then(response => {                                       
                    this.payment = response.data;                                                       
                })
                .catch(function (error) {
                     console.log(error);
              });
  },
    data() {
        return {
            classes:[],
            class:[],
            payment:'',
        }
    },

    methods: {

    },
}
</script>

