nav{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #005AA7, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #005AA7, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.navbar-left {
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  font-size: 20px;
  color: red;
  margin-left: auto;
}
.navbar-brand {
  font-family: Bangers;
  font-weight: Bold; 
  font-size: 25px; 
  color: rgb(255, 0, 0)"
}
.fondo{
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}