<template>
    <div>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#contactUserModal" data-whatever="@mdo"><i class="fas fa-comment fa-2x" data-toggle="tooltip" data-placement="top" title="Contactar"></i></button>
        <div class="modal fade" id="contactUserModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
        <div class="modal-dialog" >
        <div class="modal-content" style="width:auto; color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModal">Mensaje para Nicolas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
            <div class="modal-body">
                <form class="" @submit.prevent="">
                    <div class="p-2 row">
                        <textarea class="form-control cols-12 col-lg-9" id="messageToUser"></textarea>
                        <button type="submit" class="btn btn-primary btn-sm cols-12 col-md-2"><i class="fas fa-paper-plane fa-2x"></i></button>
                    </div>
                    
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-amber mx-auto" data-dismiss="modal">Cerrar</button>
                </div>
                <FlashMessage :position="'right bottom'"></FlashMessage>
            </div>
          
        </div>
        </div>
        </div>
        
    </div>
</template>