<template>
    <div class="">
        
        <img src="imagesProject/logo_login_DT.png" alt="" width="300" height="300" class="m-auto">
        <h1 class="margen bienvenido bold">Bienvenido!!</h1>
    </div>
</template>

<style>
    .margen{
        margin-left: 450px;
        margin-top: 0;
    }
    .bienvenido{
        display: block;
        height: 450px;
        object-fit: cover;
        animation: moveToUp 1s ease-in; 
    }
    @keyframes moveToUp {
     0%{
         opacity:0;
         transform: translateY(100px);
     }
     100%{
         opacity:1;
         transform: translate(0);
     }
 }
</style>
<script>
export default {
    
}
</script>