<template>
    <div>
    <form class="container-form">
        <div class="form-group">
            <h2 class="my-3 font-weight-bolder">Inicio de Sesión</h2>
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group font-weight-bolder">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="check">Recuerdame</label>
        </div>
        <div class="my-2 font-weight-bold">
            <a href="" class="active">Recuperar contraseña</a>
        </div>
        <a type="submit" class="btn btn-primary text-light mt-1">Iniciar Sesión</a>
    </form>
    </div>
</template>

<style>
    .container-form{
        width: 500px;
        height: auto;
        background: white;;
        margin: auto;
        padding: 20px;
        box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    label{
        font-weight: bold;
        font-size: 1em;
    }
</style>