<template>
  <div class="container my-4 row">
    <form
      class="cols-12 col-lg-12"
      @submit.prevent="updateUser"
      enctype="multipart/form-data"
    >
      <div class="row">
        <h2 class="font-weight-bolder cols-12 col-lg-12">
          <img
            src="imagesProject/logoDesafiateTraining.png"
            alt
            class="mx-auto img-size-lft"
          />Completa tu registro
        </h2>
      </div>

      <hr />
      <h5 class="my-3 font-weight-bolder">Datos personales</h5>
      <hr style="width: 200px; margin-left: 0" />
      <div class="row">
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="id">Foto de perfil</label>
          <img
            v-if="user.photo != ''"
            :src="`${user.photo}`"
            alt="foto de perfil"
            class="mr-auto img-size-table my-2"
          />
          <input
            type="file"
            @change="selectImage"
            name="image"
            accept="image/*"
          />
          <div v-if="errors.photo" class="red-text" role="alert">
            {{ errors.photo[0] }}
          </div>
        </div>

        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="chooseTypeId">Tipo de documento de identidad</label>
          <select
            id="chooseTypeId"
            class="custom-select"
            v-model="typeIdSelected"
          >
            <option selected disabled>Seleccione...</option>
            <option
              v-for="(type, index) in typesId"
              :key="index"
              v-bind:value="type.value"
            >
              {{ type.text }}
            </option>
          </select>
          <div v-if="errors.id_type" class="red-text" role="alert">
            {{ errors.id_type[0] }}
          </div>
          <!-- <div v-if="this.typeIdSelected == ''" class="alert alert-primary black-text" role="alert">Seleccione tipo de documento</div> -->
        </div>

        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="id">Número de documento</label>
          <input type="text" class="form-control" id="id" v-model="user.id" />
          <div v-if="errors.id" class="red-text" role="alert">
            {{ errors.id[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="names"
            placeholder="Nombre"
            v-model="user.name"
          />
          <div v-if="errors.name" class="red-text" role="alert">
            {{ errors.name[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="surname">Primer apellido</label>
          <input
            type="text"
            class="form-control"
            id="surname"
            v-model="user.surname1"
          />
          <div v-if="this.errorSurname1" class="red-text" role="alert">
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="secondSurname">Segundo apellido</label>
          <input
            type="text"
            class="form-control"
            id="secondSurname"
            v-model="user.surname2"
          />
          <div v-if="this.errorSurname2" class="red-text" role="alert">
            Este campo es obligatorio
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="phoneNumber">Telefóno</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            v-model="user.telephone"
          />
          <div v-if="errors.telephone" class="red-text" role="alert">
            {{ errors.telephone[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="chooseSex">Sexo</label>
          <select id="chooseSex" class="custom-select" v-model="sexSelected">
            <option selected disabled>Seleccione...</option>
            <option
              v-for="(sex, index) in sexes"
              :key="index"
              v-bind:value="sex.value"
            >
              {{ sex.text }}
            </option>
          </select>
          <!-- <span>Seleccionado: {{ sexSelected }}</span> -->
          <div v-if="errors.sex" class="red-text" role="alert">
            {{ errors.sex[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="dateBirthday">Fecha de nacimiento</label>
          <input
            type="date"
            class="form-control"
            id="dateBirthday"
            placeholder="Ejemplo: 26/07/2000"
            v-model="user.date_of_birth"
          />
          <div v-if="errors.date_of_birth" class="red-text" role="alert">
            {{ errors.date_of_birth[0] }}
          </div>
          <div class="form-group form-check mt-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="showDateBirthday"
            />
            <label class="form-check-label" for="showDateBirthday"
              >Desea que su fecha de nacimiento sea visible para todos los
              usuarios?</label
            >
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-1">
          <label for="age">Edad</label>
          <input
            type="number"
            class="form-control"
            id="age"
            v-model="user.age"
          />
        </div>
        <div v-if="errors.age" class="red-text cols-12 col-lg-12" role="alert">
          {{ errors.age[0] }}
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Domicilio</h5>
      <hr style="width: 200px; margin-left: 0" />
      <div class="row container-form">
        <div class="form-group cols-12 col-sm-6 col-lg-6">
          <label for="address">Dirección</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Ejemplo: Cra 15 #22-10"
            v-model="user.home_address"
          />
          <div v-if="errors.home_address" class="red-text" role="alert">
            {{ errors.home_address[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="municipality">Municipio</label>
          <input
            type="text"
            class="form-control"
            id="municipality"
            v-model="user.city"
          />
          <div v-if="errors.city" class="red-text" role="alert">
            {{ errors.city[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="departament">Departamento</label>
          <input
            type="text"
            class="form-control"
            id="departament"
            v-model="user.departament"
          />
          <div v-if="errors.departament" class="red-text" role="alert">
            {{ errors.departament[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="country">País</label>
          <input
            type="text"
            class="form-control"
            id="country"
            v-model="user.country"
          />
          <div v-if="errors.country" class="red-text" role="alert">
            {{ errors.country[0] }}
          </div>
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Datos corporales</h5>
      <hr style="width: 200px; margin-left: 0" />
      <div class="row container-form">
        <div class="form-group cols-12 col-lg-6">
          <label for="weight">Peso (en kilográmos)</label>
          <input
            type="text"
            class="form-control"
            id="weight"
            v-model="user.weight"
          />
          <div v-if="errors.weight" class="red-text" role="alert">
            {{ errors.weight[0] }}
          </div>
          <div class="form-group form-check mt-3">
            <input type="checkbox" class="form-check-input" id="showWeight" />
            <label class="form-check-label" for="showWeight"
              >Desea que su peso sea visible para todos los usuarios?</label
            >
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-lg-6">
          <label for="height">Estatura (en centímetros)</label>
          <input
            type="text"
            class="form-control"
            id="height"
            v-model="user.height"
          />
          <div v-if="errors.height" class="red-text" role="alert">
            {{ errors.height[0] }}
          </div>
          <div class="form-group form-check mt-3">
            <input type="checkbox" class="form-check-input" id="showHeight" />
            <label class="form-check-label" for="showHeight"
              >Desea que su estatura sea visible para todos los usuarios?</label
            >
          </div>
        </div>
        <hr class="cols-12 col-lg-9" style="width: 200px; margin-left: 0" />
        <div class="form-group mt-3 cols-12 col-lg-12">
          <input type="checkbox" id="showRecords" />
          <label class="form-check-label" for="showRecords"
            >Hacer que los registros (medidas) de su cuerpo y benchmarks sean
            visibles para los coaches.</label
          >
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Contacto de emergencia</h5>
      <hr style="width: 200px; margin-left: 0" />
      <div class="row container-form">
        <h6 class="cols-12 col-lg-12">
          Se solicita que ingrese nombre completo y telefóno de una persona para
          contactar en caso de emergencia.
        </h6>
        <hr class="cols-12 col-lg-9" style="width: 200px; margin-left: 0" />
        <div class="form-group cols-12 col-sm-6 col-lg-6">
          <label for="fullName">Nombre completo</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            v-model="user.name_contact_emergency"
          />
          <div
            v-if="errors.name_contact_emergency"
            class="red-text"
            role="alert"
          >
            {{ errors.name_contact_emergency[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="contactPhoneNumber">Telefóno</label>
          <input
            type="text"
            class="form-control"
            id="contactPhoneNumber"
            v-model="user.telephone_contact_emergency"
          />
          <div
            v-if="errors.telephone_contact_emergency"
            class="red-text"
            role="alert"
          >
            {{ errors.telephone_contact_emergency[0] }}
          </div>
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Seguridad</h5>
      <hr style="width: 200px; margin-left: 0" />
      <div class="row container-form">
        <div class="form-group cols-12 col-lg-6">
          <label for="newPassword">Nueva contraseña</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            v-model="user.password"
          />
          <div v-if="errors.password" class="red-text" role="alert">
            {{ errors.password[0] }}
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-lg-6">
          <label for="confirmPassword">Confirmar contraseña</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            v-model="confirmPassword"
          />
          <div v-if="errorConfirmPassword" class="red-text" role="alert">
            Este campo es obligatorio
          </div>
        </div>
        <div v-if="errorDifferentPasswords" class="red-text" role="alert">
          Las contraseñas no coinciden
        </div>
        <div class="form-group mt-2 cols-12 col-lg-12">
          <hr />
          <input type="checkbox" id="acepptTerms" />
          <label class="form-check-label" for="acepptTerms">
            He leído y acepto el acta de responsabilidad.
            <a
              type="button"
              class="active text-primary"
              data-toggle="modal"
              data-target="#termsModal"
              >(Ver acta responsabilidad)</a
            >
            <div
              class="modal fade"
              id="termsModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Acta de responsabilidad
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      <span class="font-weight-bold"
                        >REGLAMENTO INTERNO DE ENTRENO DESAFIATE TRAINING:</span
                      ><br />
                      1. ¡Llega puntual!, te damos el tiempo suficiente para que
                      puedas iniciar la clase a la hora programada. <br />2. Si
                      traes niños al BOX por favor haz todo lo posible para que
                      no interrumpan la clase, recuerda que entrenas para
                      ejercitarte, desestresarte y desconectarte de la rutina
                      habitual, así que sí eres consciente que el niñ@ es
                      juguetón, trata de dejarlo en casa. <br />
                      3. Cuida de ti y de los elementos que uses en clase: a)
                      Cada vez que uses los implementos de la clase por favor
                      límpialos con alcohol y déjalos en su lugar. b) Evita
                      tirar o azotar la barra. c) No pises los balones,
                      mancuernas y barras; ya que hay miles de hongos en la
                      suela de tus zapatos. d) Si vas a subir la cuerda es
                      NECESARIO usar licra o medidas largas. e) ¿Sudas mucho?
                      Por higiene trae tu toalla para tener armonía junto a tus
                      compañeros en los entrenos. f) Asiste a clase con la ropa
                      adecuada, cómoda y elástica que te permita hacer los
                      ejercicios programados; los zapatos deben ser deportivos,
                      no de suela lisa. g) Manifiéstale al coach si tienes
                      alguna dolencia física, y sigue la rutina de ejercicio
                      diseñada de acuerdo con tu condición. h) ¡Si te encuentras
                      enfermo o bajo los efectos del alcohol o sustancias
                      psicoactivas, quédate en casa descansando! Tu cuerpo te lo
                      agradecerá. <br />4. DESAFIATE TRAINING dispone para tu
                      comodidad un espacio donde puedes colocar tus pertenencias
                      mientras entrenas, sin embargo, te recomendamos no traer
                      objetos de valor, pues no nos hacemos responsables de la
                      pérdida o daño de estos. <br />5. ¡Pon atención en las
                      explicaciones! El Coach te explicará paso a paso la
                      ejecución del ejercicio, por favor no te dé pena
                      preguntar, haz las preguntas necesarias para despejar
                      todas las dudas que tengas, recuerda que primero tu salud
                      por encima de cualquier otra cosa. 6. Respeta y serás
                      respetado. 7. La norma más importante del BOX es que te
                      DIVIERTAS, disfruta de cada clase, son sólo 50 minutos
                      diarios. 8. DESAFIATE TRAINING se reserva el derecho de
                      admisión. El incumplimiento de alguna de las normas del
                      reglamento interno de DESAFIATE TRAINING conllevará
                      consecuencias que irán desde castigos con 20 Burpees o la
                      prohibición de ingreso a clase.
                    </p>
                    <br />
                    <p>
                      <span class="font-weight-bold"
                        >AUTORIZACIÓN DE USOS DE DATOS PERSONALES:</span
                      ><br />
                      Autorizo que mis datos personales recolectados por
                      DESAFIATE TRAINIGN sean usados para: <br />1. El tramite
                      de inscripción como usuario del BOX. <br />2.
                      Socialización de información de las clases del BOX, nuevos
                      servicios, horarios, eventos, convenios y demás temas que
                      sean de importante conocimiento para los usuarios que
                      ofrezca DESAFIATE TRAINING o sus aliados comerciales.
                      <br />3. Publicación de imágenes en las redes sociales
                      oficiales del BOX. <br />4. Casos de urgencia médica.
                      <br />5. Brindar información requerida por una entidad
                      pública o administrativa en ejercicio de sus funciones
                      legales por orden judicial.
                    </p>
                    <br />
                    <p>
                      <span class="font-weight-bold"
                        >MANIFESTACIÓN VOLUNTARIA:</span
                      ><br />
                      Con la firma del presente documento acepto que: <br />1.
                      Entrego mi información personal y/o la del menor de edad
                      que represento de manera voluntaria y para sea usada
                      conforme aquí se describe. <br />2. Conozco el reglamento
                      interno del BOX y exonero de responsabilidad a DESAFIATE
                      TRAINIGN por cualquier accidente que pueda generarse por
                      incumplimiento por mi parte (o del menor que represento)
                      de alguna de las normas aquí descritas. <br />3. Exonero a
                      DESAFIATE TRAINING de la perdida o daño del cualquier
                      objeto de mi propiedad dentro del BOX. <br />4. Conozco
                      que DESAFIATE TRAINING es responsable del cuidado del
                      menor usuario que represento únicamente durante los 50
                      minutos que dura la clase, como acudiente soy responsable
                      de la llegada y el retiro del menor del BOX. <br />5.
                      Conozco que, si actúo como acuediente de un menor entre
                      los 7 y 10 años de edad, debo acompañarlo durante toda la
                      clase.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn blue-gradient mx-auto"
                      data-dismiss="modal"
                    >
                      Cerrar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </div>
    </form>
    <button @click="updateUser()" class="btn blue-gradient btn-lg my-4 mx-auto">
      Terminar registro
    </button>
    <FlashMessage :position="'right bottom'"></FlashMessage>
  </div>
</template>

<style>
.div-container-form {
  width: auto;
  height: 500;
}
.container-form {
  width: auto;
  height: auto;
  background: white;
  margin: auto;
  padding: 20px;
  box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2),
    2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
label {
  font-weight: bold;
  font-size: 1em;
}
input {
  font-size: 1em;
}
.img-size-lft {
  width: 120px;
  height: 80px;
  animation: none;
}
</style>  

<script>
$("#exampleModal").on("show.bs.modal", function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var recipient = button.data("whatever"); // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this);
  modal.find(".modal-title").text("New message to " + recipient);
  modal.find(".modal-body input").val(recipient);
});

export default {
  data() {
    return {
      sexSelected: "",
      countrySelected: "",
      typeIdSelected: "",
      errors: [],
      errorSurname1: false,
      errorSurname2: false,
      sexes: [
        { value: "masculino", text: "Masculino" },
        { value: "femenino", text: "Femenino" },
        { value: "indefinido", text: "Prefiero no decir" },
      ],
      typesId: [
        { value: "CC", text: "Cédula de ciudadanía" },
        { value: "TI", text: "Tarjeta de identidad" },
        { value: "CE", text: "Tarjeta de extranjería" },
      ],
      confirmPassword: "",
      user: {
        id: "",
        name: "",
        surname1: "",
        surname2: "",
        photo: "",
        id_type: "",
        telephone: "",
        sex: "",
        age: "",
        date_of_birth: "",
        visible_date_of_birth: "",
        home_address: "",
        city: "",
        departament: "",
        country: "",
        weight: "",
        height: "",
        visible_weight: "",
        visible_height: "",
        visible_benchmark_body: "",
        name_contact_emergency: "",
        telephone_contact_emergency: "",
        email: "",
        administrador: "",
        coach: "",
        atleta: "",
        plan_id: "",
        password: "",
        first_login: "",
      },
      errorConfirmPassword: false,
      errorDifferentPasswords: false,
    };
  },
  methods: {
    selectImage(e) {
      var file = new FileReader();
      file.readAsDataURL(e.target.files[0]);
      file.onload = (e) => {
        this.user.photo = e.target.result;
      };
    },
    updateUser() {
      axios
        .post("/login-first-time", {
          photo: this.user.photo,
          id: this.user.id,
          name: this.user.name,
          surnames: this.user.surname1 + " " + this.user.surname2,
          id_type: this.typeIdSelected,
          telephone: this.user.telephone,
          sex: this.sexSelected,
          age: this.user.age,
          date_of_birth: this.user.date_of_birth,
          home_address: this.user.home_address,
          city: this.user.city,
          departament: this.user.departament,
          country: this.user.country,
          weight: this.user.weight,
          height: this.user.height,
          name_contact_emergency: this.user.name_contact_emergency,
          telephone_contact_emergency: this.user.telephone_contact_emergency,
          first_login: true,
          password: this.user.password,
        })
        .then((response) => {
          if (response.status == 200) {
            this.flashMessage.success({
              message: "Actualizado con exito",
              time: 2000,
            });
            window.location.href = "http://127.0.0.1:8000/home";
          }
        })
        .catch((error) => {
          if (this.user.surname1 == "") {
            this.errorSurname1 = true;
          } else {
            this.errorSurname1 = false;
          }

          if (this.user.surname2 == "") {
            this.errorSurname2 = true;
          } else {
            this.errorSurname2 = false;
          }

          if (this.confirmPassword == "") {
            this.errorConfirmPassword = true;
          } else {
            this.errorConfirmPassword = false;
          }

          if (this.user.password != this.confirmPassword) {
            this.errorDifferentPasswords = true;
          } else {
            this.errorDifferentPasswords = false;
          }
          this.errors = error.response.data.errors;
          this.flashMessage.error({
            status: "error",
            message: "Error en el registro",
            time: 2000,
          });
        });
    },
  },
};
</script>

