.size-button{
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border: none;
    border-radius: 2px;
    
}

.size-button:focus{
    outline: none;
}
.size-icon{
    width: 30px;
    height: 30px;
}

.size-card{
    width: 100px;
}