<template>
    <div>
        <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Creación de planes</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyFormCreate()">
                            <span aria-hidden="true">&times;</span>
                            </button> 
                        </div>
                        <div class="modal-body">
                            <v-form
                            @submit.prevent="validate2"
                            ref="form"
                            v-model="valid"
                            lazy-validation
                            >
                            <v-text-field
                            v-model="planC.name"
                            :rules="nameRules"
                            label="Nombre"
                            required
                            ></v-text-field>

                            <v-text-field
                            v-model="planC.price"
                            :rules="priceRules"
                            label="Valor"
                            required
                            ></v-text-field>

                            <v-select
                            v-model="checkClassesC"
                            :items="classes"
                            item-text="text"
                            item-value="value"
                            chips
                            deletable-chips
                            :rules="classesRules"
                            label="Selecciona los tipos de clases"
                            multiple
                            required
                            ></v-select>
                            
                            <v-btn
                            :disabled="!valid"
                            color="primary"
                            class="mr-4 my-4"
                            type="submit"
                            >
                            Crear
                            </v-btn>
                            <v-btn color="error" @click="reset()" data-dismiss="modal">Cancelar</v-btn>      
                            <!-- <FlashMessage :position="'right bottom'"></FlashMessage> -->
                            <v-snackbar
                            v-model="snackbarC.visible"
                            :timeout="2000"
                            right
                            shaped
                            centered
                            :color="snackbarC.color"
                            elevation="24"
                            transition="fab-transition"
                            >
                            <v-icon left>
                                {{snackbarC.icon}}
                            </v-icon>
                            {{snackbarC.message}}
                            </v-snackbar>
                        </v-form>          
                        </div>
                    </div>
                </div>
            </div>              
    </div>
</template>

<style>
    label{
        font-weight: bold;
        font-size: 1em;
    }
    .button-icon{
        width:55px;
        height:55px;
        color: black;
        margin: 5px;
        padding:10px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        font-size:11px;
        line-height:32px;
        text-transform: uppercase;
        float:left;
    }
</style>
<script>

import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
    created() {
        //Carga los planes mediante AJAX
            
    },
    data() {
        return {
            alert:{
                visible: false,
                message:'',
                color:'',
                icon:''
            },
            valid: false,
            nameRules: [
                v => !!v || 'Este es un campo obligatorio',
                v => /^[ñA-Za-z _]*[ñA-Za-z][ñA-Za-z _]*$/ .test(v) || 'Solo se permiten letras',
            ],
            priceRules: [
                v => !!v || 'Este es un campo obligatorio',
                v => /^[0-9]+$/.test(v) || 'Ingrese un valor valido',
            ],
            classesRules: [
                v =>  v.length>0 || 'Selecciona al menos un tipo de clase'
            ],
            //Crear planes
            plansC:[],
            planC:{name: '',price: '',wod:'',wod_online:'' },
            checkClassesC:[],
            errorCheck:false, errorName: false, errorPrice: false,
            editActive: false,

            /////
            plans:[],
            plan:{id: null, name: '',price: '',wod:'',wod_online:'' },
            checkClasses:[],
            classes:[
                {value: 'wod', text: 'Wod'},
                {value: 'wod online', text: 'Wod online'}
            ],
            errors:[],
            errorCheck: false, errorName: false, errorPrice: false,
            editActive: false
        }
    },
    methods:{
        ...mapActions('plans',['getAllPlans','createPlan']),
        ...mapMutations('plans', ['setSnackbar']),

        validate() {
            this.alert.visible = false
            this.$refs.form.validate()
            this.planC.wod = false;  
            this.planC.wod_online = false;

        if(this.$refs.form.validate()){

            for (let i = 0; i < this.checkClassesC.length; i++) {
                        if (this.checkClassesC[i]=='wod') {                                
                            this.planC.wod = true;                    
                        }else if (this.checkClassesC[i]=='wod online') {
                            this.planC.wod_online = true;
                        }                                                                                  
                }   
  
                axios.post('/plans', {
                    name: this.planC.name,  
                    price: this.planC.price,
                    wod: this.planC.wod,
                    wod_online: this.planC.wod_online                    
                })
                .then(response => {
                    let plan = {
                    name: this.plan.name,  
                    price: this.plan.price,
                    wod: this.plan.wod,
                    wod_online: this.plan.wod_online
                    }
                    console.log(response.status); 
                    if(response.status == 201){
                        this.alert.visible = true
                        this.alert.message = 'Creación exitosa'
                        this.alert.color = 'success'
                        this.alert.icon = 'mdi-checkbox-marked-circle'
                        this.flashMessage.success({
                            message: 'Creación exitosa',
                            time:2000,
                        });
                    this.$emit('new');
                    this.planC.name = '';
                    this.planC.price = '';
                    this.checkClassesC.splice(0,this.checkClassesC.length);
                    this.errorName = false
                    this.errorPrice = false
                    this.errorCheck = false
                    this.errors = []
                    this.getAllPlans()
                    this.reset()
                    //Carga los planes mediante AJAX
                    }      
                })
                .catch(error => {
                    if(error.response.status == 422){
                         this.errors = error.response.data.errors
                             this.flashMessage.error({
                                status: 'error',
                             message: 'Error en la creación del plan',
                             time: 2000,
                         });
                     }
                });
        }else{
            this.alert.visible = false
            this.alert.visible = true
            this.alert.message = 'Error en la creación'
            this.alert.color = 'error'
            this.alert.icon = 'mdi-close-octagon'
        }
      },
      validate2() {
            this.alert.visible = false
            this.setSnackbar(this.alert)
            this.$refs.form.validate()
            this.planC.wod = false;  
            this.planC.wod_online = false;

        if(this.$refs.form.validate()){

            for (let i = 0; i < this.checkClassesC.length; i++) {
                        if (this.checkClassesC[i]=='wod') {                                
                            this.planC.wod = true;                    
                        }else if (this.checkClassesC[i]=='wod online') {
                            this.planC.wod_online = true;
                        }                                                                                  
                }   
                this.createPlan(this.planC)
        }else{
            this.alert.visible = false
            this.setSnackbar(this.alert)
            this.alert.visible = true
            this.alert.message = 'Error en la creación'
            this.alert.color = 'error'
            this.alert.icon = 'mdi-close-octagon'
        }
      },
      reset () {
        this.checkClassesC.splice(0,this.checkClassesC.length);
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
       
       
    },
    computed: {
        ...mapGetters('plans',['getSnackbar']),
        snackbarC(){
            this.alert.visible = this.getSnackbar.visible
            this.alert.message = this.getSnackbar.message
            this.alert.color = this.getSnackbar.color
            this.alert.icon = this.getSnackbar.icon
            return this.alert
        }
    },
}
</script>