label {
    font-weight: bold;
    font-size: 1em;
  }
  .button-icon {
    width: 55px;
    height: 55px;
    color: black;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
  }