<template>
  <div>
    <div
      class="modal fade"
      id="termsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">
              Creación de planes
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="reset()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <v-form
              @submit.prevent="validate2"
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-text-field
                v-model="planC.name"
                :rules="nameRules"
                label="Nombre"
                required 
              ></v-text-field>

              <v-text-field
                v-model="planC.price"
                :rules="priceRules"
                label="Valor"
                required
              ></v-text-field>

              <v-select
                v-model="checkClassesC"
                :items="classes"
                item-text="text"
                item-value="value"
                chips
                deletable-chips
                :rules="classesRules"
                label="Selecciona los tipos de clases"
                multiple
                required
              ></v-select>

              <v-btn
                :disabled="!valid"
                color="primary"
                class="mr-4 my-4"
                type="submit"
              >
                Crear
              </v-btn>
              <v-btn color="error" @click="reset()" data-dismiss="modal"
                >Cancelar</v-btn
              >
              <!-- <FlashMessage :position="'right bottom'"></FlashMessage> -->
              <v-snackbar
                v-model="snackbarC.visible"
                :timeout="2000"
                right
                shaped
                centered
                :color="snackbarC.color"
                elevation="24"
                transition="fab-transition"
              >
                <v-icon left>
                  {{ snackbarC.icon }}
                </v-icon>
                {{ snackbarC.message }}
              </v-snackbar>
            </v-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<style src="../PlansModule/CreatePlanStyle.css"></style>

<script src="../PlansModule/CreatePlanScript.js"></script>