<template>
    <div>    
        <div class="modal fade" id="deletePlanModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title font-weight-bold" id="deleteModal">Desea eliminar el plan {{getPlan.name}} ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-auto">
                        <v-btn color="error" @click="deletePlan(getPlan)">Eliminar</v-btn>
                        <v-snackbar
                                v-model="snackbarD.visible"
                                :timeout="2000"
                                right
                                shaped
                                centered
                                :color="snackbarD.color"
                                elevation="24"
                                transition="fab-transition"
                            >
                                <v-icon left>
                                    {{ snackbarD.icon }}
                                </v-icon>
                                {{ snackbarD.message }}
                        </v-snackbar>              
                    </div>
                </div>
            </div>
        </div>
    </div>  
</template>

<script src="../PlansModule/DeletePlanScript.js"></script>

<style>

</style>
