<template>
    <div>
        <div
            class="modal fade"
            id="editPlanModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="editModal"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title font-weight-bolder"
                            id="editModal"
                        >
                            Editar plan
                        </h4>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            @click="reset()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <v-form
                            @submit.prevent="validate"
                            ref="form"
                            v-model="valid"
                            lazy-validation
                        >
                            <v-text-field
                                v-model="plan.name"
                                :rules="nameRules"
                                label="Nombre"
                                required
                            ></v-text-field>

                            <v-text-field
                                v-model="plan.price"
                                :rules="priceRules"
                                label="Valor"
                                required
                            ></v-text-field>

                            <v-select
                                v-model="arrayClasses"
                                :items="classes"
                                item-text="text"
                                item-value="value"
                                chips
                                deletable-chips
                                :rules="classesRules"
                                label="Selecciona los tipos de clases"
                                multiple
                                required
                            ></v-select>
                            <v-btn
                                :disabled="!valid"
                                color="primary"
                                class="mr-4 my-4"
                                type="submit"
                            >
                                Actualizar
                            </v-btn>
                            <v-btn
                                color="error"
                                @click="reset()"
                                data-dismiss="modal"
                                >Cancelar</v-btn
                            >
                            <!-- <FlashMessage :position="'right bottom'"></FlashMessage> -->
                            <v-snackbar
                                v-model="snackbarEd.visible"
                                :timeout="2000"
                                right
                                shaped
                                centered
                                :color="snackbarEd.color"
                                elevation="24"
                                transition="fab-transition"
                            >
                                <v-icon left>
                                    {{ snackbarEd.icon }}
                                </v-icon>
                                {{ snackbarEd.message }}
                            </v-snackbar>
                        </v-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="../PlansModule/EditPlanScript.js"></script>
