<template>
            <v-card class="p-3 elevation-5">
                
                <v-card-title>
                <v-tooltip right>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                    style="outline:none"
                    color="success"
                    fab
                    dark
                    v-bind="attrs"
                    v-on="on"
                    data-toggle="modal" data-target="#termsModal" data-backdrop="static" data-keyboard="false"
                    >
                        <v-icon dark large>
                            mdi-plus
                        </v-icon>
                    </v-btn>
                </template>
                <span>Crear plan</span>
                </v-tooltip>
                <createplan-component></createplan-component>  
                
                <v-spacer></v-spacer>
                
                <v-text-field
                    class=""
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar"
                    single-line
                    hide-details
                ></v-text-field>
                </v-card-title>
                <v-data-table :headers="headers" :items="list" :search="search" :items-per-page="perPage" class="mt-3" loading-text="Cargando...">
                    <template v-slot:[`item.actions`]="{ item }" class="">
                        <!-- <v-btn color="warning" fab small class="my-1" @click="showName(item)" style="outline:none"><v-icon small>fas fa-edit</v-icon></v-btn> -->
                        <v-btn color="error" fab small style="outline:none" data-toggle="modal" data-target="#deletePlanModal" data-backdrop="static" data-keyboard="false" @click="setPlanD(item)"><v-icon small>fas fa-trash-alt</v-icon></v-btn>
                        <v-btn color="warning" fab small style="outline:none" data-toggle="modal" data-target="#editPlanModal" data-backdrop="static" data-keyboard="false" @click="setInfoPlan(item)"><v-icon data-toggle="tooltip" data-placement="top" title="Editar plan">mdi-pencil</v-icon></v-btn>
                        <deleteplan-component></deleteplan-component>
                        <editplan-component></editplan-component>
                    </template>
                </v-data-table>
            </v-card>
</template>

<style src="../PlansModule/ListPlanStyle.css"></style>

<script src="../PlansModule/ListPlanScript.js"></script>
