<template>
    <div class="mx-5">    
        <div class="cols-12 col-lg-12 bg-primary text-center p-2 my-4">
            <h1 class="font-weight-bold text-white">Planes</h1>
        </div> 
        <div class="my-3 mx-2">
        <transition>
            <listplan-component></listplan-component>
        </transition>
        </div>
    </div>
</template>
<style src="../PlansModule/PlansModuleStyle.css"></style>
