        /* Las animaciones de entrada y salida pueden utilizar */
    /* diferentes funciones y duraciones                   */
    .v-enter-active, .v-leave-active {
        transition: opacity .5s;
        }
        .v-enter, .v-leave-to
        /* .slide-fade-leave-active for <2.1.8 */ {
        opacity: 0;
        }