<template>
    <div>
        <!-- Añadir plantilla -->
        <div v-if="visibleAddTemplate" class="cols-12 col-lg-5 mx-2 card p-4" style="position:fixed;top:190px;left:230px;">
            <form @submit.prevent="addTemplate">
            <h3>Añadir plantilla</h3>
            <hr>
            <label for="templateName">Nombre</label>
            <input id="templateName" type="text" class="form-control mb-2" v-model="template.name">
            <div v-if="errorEmptySpaces" class="text-danger" role="alert">Este campo es obligatorio</div>
            <button class="btn btn-primary" type="submit">Agregar</button>
            </form>
            <FlashMessage :position="'left bottom'"></FlashMessage>
        </div>
        <!-- Fin Añadir plantilla -->
    </div>
</template>

<script src = "../../ClassesModule/ClassesTemplates/CreateTemplateScript.js"></script>