<template>
    <div>
        <button class="btn btn-primary my-2 mr-auto" data-toggle="modal" data-target="#addClassModal" data-backdrop="static" data-keyboard="false" @click="stopInterval()">Añadir clase</button>
                            <div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="addCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="addCModal">Añadir clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="addClass()">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTime">Tipo de clase</label>
                                                        <select id="chooseClassTime" class="custom-select" v-model="lessonC.typeC">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateName" class="">Horario</label>
                                                        <input id="editTemplateName" type="time" min="05:00" max="21:00" class="form-control" v-model="lessonC.hourC">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDays">Días</label>
                                                        <v-select class="" multiple v-model="daysSelectedC" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar al menos un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoaches">Profesores</label>
                                                        <v-select v-model="coachesSelectedC" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelectedC}}</p> -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar un profesor</div> 
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="places">Plazas</label>
                                                        <input id="places" type="number" class="form-control" v-model="lessonC.placesC">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-primary" type="submit">Añadir</button>
                                                            <button class="btn btn-warning" data-dismiss="modal" @click="emptyForm()">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </div>
</template>