<template>
    <div>
        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTemplateModal"  @click="idDeleteTemplate(item)"><i class="fas fas fa-trash-alt fa-2x" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteTemplateModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteModal">¿Seguro que desea eliminar esta plantilla?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteTemplate()">Eliminar</button>     
                                            <FlashMessage :position="'right bottom'"></FlashMessage>         
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>
</template>

<script src = "../../ClassesModule/ClassesTemplates/DeleteTemplateScript.js"> </script>