<template>
    <div>
        <!-- Editar plantilla -->
        <div v-if="visibleEditTemplate" class="cols-12 col-lg-12 card container">
            <div class="cols-12 col-lg-3 mr-auto">
                <button class="btn btn-warning btn-sm" @click="showAddTemplate()"><i class="fas fa-arrow-circle-left fa-2x"></i></button>
            </div>
            <form class="row p-4 mr-auto mt-2">
                <hr class="cols-12 col-lg-12">
                <div class="cols-12 col-lg-12 form-inline"> 
                    <label for="editTemplateName" class="mx-1">Nombre</label>
                    <input id="editTemplateName" type="text" class="form-control" v-model="template.name">
                    <button class="btn btn-success btn-sm" type="submit">Cambiar</button>
                </div>
                <hr class="cols-12 col-lg-12">
            </form>
            
        </div>
        <!-- Fin Editar plantilla -->
    </div>
</template>

<script src = "../../ClassesModule/ClassesTemplates/EditTemplateScript.js"></script>
