<template>
    <div>
        <!-- Listar plantillas -->
            <div v-if="visibleAddTemplate" class="my-2 mx-2 cols-12 col-lg-5 card p-3" style="top:20px;left:610px;">
                <h3 class="mx-auto">Plantillas</h3>
                <hr>
                <p v-if="templates.length == 0" class="mx-auto">No hay plantillas disponibles</p>
                <table v-else class="table display mt-2" id="">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in templates" :key="index">
                        <td>{{item.name_template}}</td>
                        <td>
                            <deletetemplate-component></deletetemplate-component>
                            <button class="btn btn-warning btn-sm" @click="showEditTemplate(item)"><i class="fas fa-pen-square fa-2x" data-toggle="tooltip" data-placement="top" title="Editar plantilla"></i></button>                                                        
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- Fin Listar plantillas -->
    </div>
</template>

<script src = "../../ClassesModule/ClassesTemplates/ListClassTemplatesScript.js"></script>

