<template>
    <div>
        <div v-if="visibleEditTemplate" class="container card my-3">
        <table id="tabla1" class="table my-3">
        <tr>
            <th class="bg-dark text-white font-weight-bold text-center">Lunes</th>
            <th class="bg-dark text-white font-weight-bold text-center">Martes</th>
            <th class="bg-dark text-white font-weight-bold text-center">Miércoles</th>
            <th class="bg-dark text-white font-weight-bold text-center">Jueves</th>
            <th class="bg-dark text-white font-weight-bold text-center">Viernes</th>
            <th class="bg-dark text-white font-weight-bold text-center">Sábado</th>
            <th class="bg-dark text-white font-weight-bold text-center">Domingo</th>
        </tr>
        <tr>
            <td id="nested" class="mr-auto">
            <table id="table">
                <tr v-for="(item,index) in monday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-video mx-1"></i> Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
            </table>
            </td>
            <td>
                <table id="tabla2">
                <tr v-for="(item,index) in tuesday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold">Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
            </table>
            </td>
            <td>
                <table id="tabla2">
                <tr v-for="(item,index) in wednesday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold">Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
                </table>
            </td>
            <td>
                <table id="tabla2">
                <tr v-for="(item,index) in thursday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold">Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
                </table>
            </td>
            <td>
                <table id="tabla2">
                <tr v-for="(item,index) in friday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold">Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
                </table>
            </td>
            <td>
                <table id="tabla2">
                <tr v-for="(item,index) in saturday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold">Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
                </table>
            </td>
            <td>
                <table id="tabla2">
                <tr v-for="(item,index) in sunday" :key="index">
                <td class="row">
                <label v-if="item.wod === 1" for="" class="cols-12 col-lg-7 font-weight-bold">Wod</label>
                <label v-else-if="item.wod_online === 1" for="" class="cols-12 col-lg-12 font-weight-bold">Wod Online</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold text-primary mr-auto" style="font-size: 15px">{{item.hour}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold">{{item.coach_id}}</label>
                <label for="" class="cols-12 col-lg-12 font-weight-bold"><i class="fas fa-users"></i>{{item.places}}</label>
                <div class="cols-12 col-lg-12">
                    <button class="btn-warning size-btn-class" data-toggle="modal" data-target="#editClassMondayModal" data-backdrop="static" data-keyboard="false" @click="idClass(item)"><i class="fas fa-pen-square" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="editClassMondayModal" tabindex="-1" role="dialog" aria-labelledby="editMonModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title font-weight-bolder" id="editMonModal">Editar clase</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form @submit.prevent="editClass(item)">
                                                <div class="cols-12 col-lg-12 row">
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseClassTimeEM">Tipo de clase</label>
                                                        <select id="chooseClassTimeEM" class="custom-select" v-model="lesson.type">
                                                            <option disabled value="">Seleccione...</option>
                                                            <option v-for="(item,index) in typeClasses" :key="index" v-bind:value="item.value">{{item.text}}</option>
                                                        </select>
                                                        <div v-if="errorClassType" class="text-danger" role="alert">Debe seleccionar un tipo de clase</div>
                                                        <p></p>  
                                                    </div>
                                                    <div class="fomr-group cols-12 col-lg-6">
                                                        <label for="editTemplateNameEM" class="">Horario</label>
                                                        <input id="editTemplateNameEM" type="time" min="05:00" max="21:00" class="form-control" v-model="lesson.hour">
                                                        <div v-if="errorHour" class="text-danger" role="alert">Este campo es obligatorio</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12 mt-3">
                                                        <label for="chooseDaysEM">Días</label>
                                                        <v-select class="" v-model="daysSelected" :options="days" label="text" :reduce="day => day.value" />
                                                    <!-- <p>{{daysSelected}}</p>   -->
                                                        <div v-if="errorDays" class="text-danger" role="alert">Debe seleccionar un día</div>
                                                    </div>
                                                    <div class="form-group cols-12 col-lg-12">
                                                        <label for="chooseCoachesEM">Profesores</label>
                                                        <v-select v-model="coachesSelected" :options="coaches" label="name" :reduce="coach => coach.id"/>
                                                    <!-- <p>{{coachesSelected}}</p>  -->
                                                        <div v-if="errorCoaches" class="text-danger" role="alert">Debe seleccionar profesor</div>
                                                    </div>
                                                    <div class="cols-12 col-lg-3">
                                                        <label for="placesEM">Plazas</label>
                                                        <input id="placesEM" type="number" class="form-control" v-model="lesson.places">
                                                    </div>
                                                    <div v-if="errorPlaces" class="cols-12 col-lg-12 text-danger" role="alert">Este campo es obligatorio</div>
                                                    <div class="modal-footer cols-12 col-lg-12 my-2">
                                                        <div class="mx-auto">
                                                            <button class="btn btn-success" type="submit">Guardar</button>
                                                            <button class="btn btn-danger" data-dismiss="modal" @click="emptyForm()">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <FlashMessage :position="'right bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    <button class="btn-danger size-btn-class" data-toggle="modal" data-target="#deleteClassM"  @click="idClass(item)"><i class="fas fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar plantilla"></i></button>
                            <div class="modal fade" id="deleteClassM" tabindex="-1" role="dialog" aria-labelledby="deleteCModal" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h2 class="modal-title font-weight-bolder" id="deleteCModal">¿Seguro que desea eliminar esta clase?</h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                            <button type="submit" class="btn btn-danger" @click="deleteClass()">Eliminar</button>              
                                            <FlashMessage :position="'left bottom'"></FlashMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </td>
                </tr>
                </table>
            </td>
        </tr>
        
        </table>
        </div>
    </div>
</template>

