 <template>
     <div class="ml-5 mt-5">
            <v-card
            max-width="400"
            elevation="5"
            >
                <v-card-text class="headline font-weight-bold">
                    <v-form @submit.prevent="validate"
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    >
                        <h3>Agregar Observaciones</h3>
                        <hr>
                        <v-text-field type="date" label="Fecha" :max="fullDate" class="my-3" :rules="dateRules" v-model="observation.class_date"></v-text-field>
                        <v-textarea
                        outlined
                        id="observationDescription"
                        name="input-7-1"
                        label="Descripción"
                        v-model="observation.description"
                        :rules="descriptionRules"
                        ></v-textarea>
                        <v-btn color="primary" type="submit" class="mr-4 my-4">Agregar</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
            <v-snackbar
                v-model="snackbar.visible"
                :timeout="2000"
                right
                shaped
                bottom
                :color="snackbar.color"
                elevation="24"
                transition="fab-transition"
            >
                <v-icon left>
                  {{ snackbar.icon }}
                </v-icon>
                {{ snackbar.message }}
            </v-snackbar>
        </div>
 </template>

<style src="../../UsersModule/UserAuth/CreateObservationStyle.css"></style>

<script src="../../UsersModule/UserAuth/CreateObservationScript.js"></script>