<template>
    <div>
        <div class="container p-2 bg-primary text-center my-4">
            <h1 class="font-weight-bold text-white mx-auto">Mis pagos</h1>
        </div>
        <v-container>
            <v-row justify="center">
                <v-card class="elevation-5 p-3">
                <v-data-table id="paymentsTable" :headers="headers" :items="getUserAuthPayments" :items-per-page="perPage" class="mt-3" loading-text="Cargando...">
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-btn color="error" small style="outline:none" @click="downloadpdf(item.id)"><v-icon dark data-toggle="tooltip" data-placement="top" title="Descargar factura">mdi-file-pdf</v-icon></v-btn>
                    </template>
                </v-data-table>
            </v-card>
            </v-row>            
        </v-container>
    </div>
</template>

<script src = "../../UsersModule/UserAuth/ListPaymentsScript.js"></script>