<template>
    <div class="mx-5 mt-5">
        <v-card
        max-width="500"
        elevation="5"
        >
            <v-card-text>
                <h4 class="mx-auto">Observaciones</h4>
                <div v-for="(item,index) in list" :key="index">
                    <div class="card p-3 my-2">
                        <label for="" class="font-weight-bold">Fecha de clase: <label for="">{{item.class_date}}</label></label>
                        <label for="" class="font-weight-bold">Descripción:</label>
                        <label for="">{{item.description}}</label>
                    </div>
                </div>
            </v-card-text>    
        </v-card>
    </div>
</template>

<style src="../../UsersModule/UserAuth/ListUserAuthObservationsStyle.css"></style>

<script src="../../UsersModule/UserAuth/ListUserAuthObservationsScript.js"></script>