<template>
    <div>
        <div class="container p-2 bg-primary text-center my-4">
            <h1 class="font-weight-bold text-white mx-auto">Mi cuerpo</h1>
        </div>
        <v-container>
            <v-row justify="center">
                <v-card class="elevation-5 p-3" width="600px">
                <v-card-title>
                    <registermeasurements-component></registermeasurements-component>
                </v-card-title>
                <v-data-table id="measurementsTable" :headers="headers" :items="list" :items-per-page="perPage" class="mt-3" loading-text="Cargando...">
                    <template v-slot:[`item.actions`]="{ item }">
                        <v-btn color="info" fab small style="outline:none" data-toggle="modal" data-target="#myMeasurementsModal" data-backdrop="static" data-keyboard="false" @click="setMeasurementInfo(item)"><v-icon dark large data-toggle="tooltip" data-placement="top" title="Ver medidas">mdi-information-variant</v-icon></v-btn>
                        <mymeasurementsinfo-component></mymeasurementsinfo-component>
                    </template>
                </v-data-table>
            </v-card>
            </v-row>            
        </v-container>
    </div>
</template>


<script src = "../../UsersModule/UserAuth/MyBodyScript.js"></script>
