<template>
  <div>
    <div
      class="modal fade"
      id="myMeasurementsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel"></h3>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="emptyFormMeasurements()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <v-container>
              <v-form>
                <v-row>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Fecha"
                      id="measurementsDate"
                      readonly
                      v-model="getMeasurementInfoC.dateInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2" lg="2">
                    <v-text-field
                      label="Peso"
                      id="weight"
                      readonly
                      v-model="getMeasurementInfoC.weightInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2" lg="2">
                    <v-text-field
                      label="Estatura"
                      id="height"
                      readonly
                      v-model="getMeasurementInfoC.heightInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2" lg="2">
                    <v-text-field
                      label="IMC"
                      id="imc"
                      readonly
                      v-model="getMeasurementInfoC.imcInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2" lg="2">
                    <v-text-field
                      label="Grasa"
                      id="fat"
                      readonly
                      v-model="getMeasurementInfoC.fatInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="% de músculo"
                      id="muscle"
                      readonly
                      v-model="getMeasurementInfoC.muscleInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Gasto calórico"
                      id="caloricExpenditure"
                      readonly
                      v-model="getMeasurementInfoC.caloricExpenditureInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Edad metabólica"
                      id="metabolicAge"
                      readonly
                      v-model="getMeasurementInfoC.metabolicAgeInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Grasa visceral"
                      id="visceralFat"
                      readonly
                      v-model="getMeasurementInfoC.visceralFatInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Pecho"
                      id="chest"
                      readonly
                      v-model="getMeasurementInfoC.chestInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Abdomen alto"
                      id="highAbdomen"
                      readonly
                      v-model="getMeasurementInfoC.highAbdomenInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Abdomen bajo"
                      id="lowerAbdomen"
                      readonly
                      v-model="getMeasurementInfoC.lowerAbdomenInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Cintura"
                      id="waist"
                      readonly
                      v-model="getMeasurementInfoC.waistInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Glúteos"
                      id="buttocks"
                      readonly
                      v-model="getMeasurementInfoC.buttocksInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Pierna derecha"
                      id="rightLeg"
                      readonly
                      v-model="getMeasurementInfoC.rightLegInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Pierna izquierda"
                      id="lefttLeg"
                      readonly
                      v-model="getMeasurementInfoC.leftLegInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Pantorrilla derecha"
                      id="rightCalf"
                      readonly
                      v-model="getMeasurementInfoC.rightCalfInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Pantorrilla izquierda"
                      id="leftCalf"
                      readonly
                      v-model="getMeasurementInfoC.leftCalfInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Brazo derecho relajado"
                      id="relaxedRightArm"
                      readonly
                      v-model="getMeasurementInfoC.relaxedRightArmInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Brazo derecho tensionado"
                      id="rightArmStressed"
                      readonly
                      v-model="getMeasurementInfoC.rightArmStressedInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Brazo izquierdo relajado"
                      id="relaxedLeftArm"
                      readonly
                      v-model="getMeasurementInfoC.relaxedLeftArmInfo"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3" lg="3">
                    <v-text-field
                      label="Brazo izquierdo tensionado"
                      id="leftArmStressed"
                      readonly
                      v-model="getMeasurementInfoC.leftArmStressedInfo"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src = "../../UsersModule/UserAuth/MyMeasurementsInfoScript.js"></script>