<template>
  <div class="container my-4 row">
    <div class="cols-12 col-lg-12 blue-gradient text-center p-2 my-4">
      <h1 class="font-weight-bold text-white">Mi perfil</h1>
    </div>
    <form class="cols-12 col-lg-12" @submit.prevent="updateUser" enctype="multipart/form-data">
      <hr />
      <h5 class="my-3 font-weight-bolder">Datos personales</h5>
      <hr style="width:200px; margin-left:0"/>
      <div class="row">
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="id">Foto de perfil</label>
          <img :src="`${user.photo}`" alt="foto de perfil"  class="mr-auto img-size-table my-2">
          <input type="file" @change="selectImage" name="image" accept="image/*" />
        </div>
        
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="chooseTypeId">Tipo de documento de identidad</label>
          <label v-if="user.id_type === 'cedula'" for="" class="form-control" readonly>Cédula de ciudadanía</label>
          <label v-if="user.id_type === 'tarjeta de identidad'" for="" class="form-control" readonly>Tarjeta de identidad</label>
          <label v-if="user.id_type === 'cedula de extranjeria'" for="" class="form-control" readonly>Cédula de extranjería</label>
        </div>

        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="id">Número de documento</label>
          <input type="text" class="form-control" id="id" v-model="user.id_document" readonly/>
          <div v-if="errors.id" class="red-text" role="alert">{{errors.id[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="name">Nombre</label>
          <label
            type="text"
            class="form-control"
            id="names"
            placeholder="Nombre"
            readonly
          >{{user.name}} {{user.surnames}}</label>
          <div v-if="errors.name" class="red-text" role="alert">{{errors.name[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="phoneNumber">Email</label>
          <input type="text" class="form-control" id="phoneNumber" v-model="user.email" />
          <div v-if="errors.email" class="red-text" role="alert">{{errors.email[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="phoneNumber">Telefóno</label>
          <input type="text" class="form-control" id="phoneNumber" v-model="user.telephone" />
          <div v-if="errors.telephone" class="red-text" role="alert">{{errors.telephone[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="phoneNumber">Sexo</label>
          <input type="text" class="form-control" id="phoneNumber" v-model="user.sex" readonly/>
          <div v-if="errors.sex" class="red-text" role="alert">{{errors.sex[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="dateBirthday">Fecha de nacimiento</label>
          <input type="text" class="form-control" id="phoneNumber" v-model="user.date_of_birth" readonly/>
          <div class="form-group form-check mt-3">
            <input type="checkbox" class="form-check-input" id="showDateBirthday" />
            <label
              class="form-check-label"
              for="showDateBirthday"
            >Desea que su fecha de nacimiento sea visible para todos los usuarios?</label>
          </div>
          <div v-if="errors.date_of_birth" class="red-text" role="alert">{{errors.date_of_birth[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-2">
          <label for="age">Edad</label>
          <input type="number" class="form-control" id="age" v-model="user.age" />
          <div v-if="errors.age" class="red-text" role="alert">{{errors.age[0]}}</div>
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Domicilio</h5>
      <hr style="width:200px; margin-left:0" />
      <div class="row container-form">
        <div class="form-group cols-12 col-sm-6 col-lg-6">
          <label for="address">Dirección</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Ejemplo: Cra 15 #22-10"
            v-model="user.home_address"
          />
          <div v-if="errors.home_address" class="red-text" role="alert">{{errors.home_address[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="municipality">Municipio</label>
          <input type="text" class="form-control" id="municipality" v-model="user.city" />
          <div v-if="errors.city" class="red-text" role="alert">{{errors.city[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="departament">Departamento</label>
          <input type="text" class="form-control" id="departament" v-model="user.departament" />
          <div v-if="errors.departament" class="red-text" role="alert">{{errors.departament[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-6">
          <label for="country">País</label>
          <input type="text" class="form-control" id="country" v-model="user.country" />
          <div v-if="errors.country" class="red-text" role="alert">{{errors.country[0]}}</div>
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Datos corporales</h5>
      <hr style="width:200px; margin-left:0" />
      <div class="row container-form">
        <div class="form-group cols-12 col-lg-6">
          <label for="weight">Peso (en kilográmos)</label>
          <input type="text" class="form-control" id="weight" v-model="user.weight" />
          <div class="form-group form-check mt-3">
            <input type="checkbox" class="form-check-input" id="showWeight" />
            <label
              class="form-check-label"
              for="showWeight"
            >Desea que su peso sea visible para todos los usuarios?</label>
            <div v-if="errors.weight" class="red-text" role="alert">{{errors.weight[0]}}</div>
          </div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-lg-6">
          <label for="height">Estatura (en centímetros)</label>
          <input type="text" class="form-control" id="height" v-model="user.height" />
          <div class="form-group form-check mt-3">
            <input type="checkbox" class="form-check-input" id="showHeight" />
            <label
              class="form-check-label"
              for="showHeight"
            >Desea que su estatura sea visible para todos los usuarios?</label>
            <div v-if="errors.height" class="red-text" role="alert">{{errors.height[0]}}</div>
          </div>
        </div>
        <hr class="cols-12 col-lg-9" style="width:200px; margin-left:0;" />
        <div class="form-group mt-3 cols-12 col-lg-12">
          <input type="checkbox" id="showRecords" />
          <label
            class="form-check-label"
            for="showRecords"
          >Hacer que los registros (medidas) de su cuerpo y benchmarks sean visibles para los coaches.</label>
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Contacto de emergencia</h5>
      <hr style="width:200px; margin-left:0" />
      <div class="row container-form">
        <h6
          class="cols-12 col-lg-12"
        >Se solicita que ingrese nombre completo y telefóno de una persona para contactar en caso de emergencia.</h6>
        <hr class="cols-12 col-lg-9" style="width:200px; margin-left:0;" />
        <div class="form-group cols-12 col-sm-6 col-lg-6">
          <label for="fullName">Nombre completo</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            v-model="user.name_contact_emergency"
          />
          <div v-if="errors.name_contact_emergency" class="red-text" role="alert">{{errors.name_contact_emergency[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-sm-6 col-lg-4">
          <label for="contactPhoneNumber">Telefóno</label>
          <input
            type="text"
            class="form-control"
            id="contactPhoneNumber"
            v-model="user.telephone_contact_emergency"
          />
          <div v-if="errors.telephone_contact_emergency" class="red-text" role="alert">{{errors.telephone_contact_emergency[0]}}</div>
        </div>
      </div>
      <hr />
      <h5 class="my-3 font-weight-bolder">Seguridad</h5>
      <hr style="width:200px; margin-left:0" />
      <div class="row container-form">
        <div class="form-group cols-12 col-lg-6">
          <label for="newPassword">Nueva contraseña</label>
          <input type="password" class="form-control" id="newPassword" v-model="user.password" />
          <div v-if="errors.password" class="red-text" role="alert">{{errors.password[0]}}</div>
        </div>
        <div class="form-group font-weight-bolder cols-12 col-lg-6">
          <label for="confirmPassword">Confirmar contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" v-model="confirmPassword"/>
          <div v-if="errorConfirmPassword" class="red-text" role="alert">Este campo es obligatorio</div>
        </div>
        <div v-if="errorDifferentPasswords" class="red-text" role="alert">Las contraseñas no coinciden</div>
      </div>
    </form>
    <button @click="updateUser()" class="btn blue-gradient btn-lg my-4 mx-auto">Actualizar</button>
    <FlashMessage :position="'right bottom'"></FlashMessage>
  </div>
</template>

<style src = "../../UsersModule/UserAuth/MyProfileStyle.css"></style>  


<script src = "../../UsersModule/UserAuth/MyProfileScript.js"></script>
