.div-container-form {
    width: auto;
    height: 500;
  }
  .container-form {
    width: auto;
    height: auto;
    background: white;
    margin: auto;
    padding: 20px;
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2),
      2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  label {
    font-weight: bold;
    font-size: 1em;
  }
  input {
    font-size: 1em;
  }
  .img-size-lft {
    width: 120px;
    height: 80px;
    animation: none;
  }