<template>
    <div>
            <v-btn
            style="outline:none"
            color="success"
            dark
            fab
            @click.stop="setD(true)"
            >
            <v-icon dark large>
                mdi-plus
            </v-icon>
            </v-btn>

            <v-dialog
            v-model="getD"
            persistent
            >
                <v-container>
                    <v-row justify="center">
                        <v-card class="elevation-5">
                        <v-card-title>
                            <span class="headline">Registro de medidas</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-form @submit.prevent="validate"
                                ref="form"
                                v-model="valid"
                                lazy-validation
                                >
                                    <v-row>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Fecha" id="measurementsDate" type="date" :max="this.fullDate" :rules="dateRules" v-model="measurement.date"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Peso" id="weight" :rules="weightRules" v-model="measurement.weight"></v-text-field>  
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Estatura" id="height" :rules="heightRules" v-model="measurement.height"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="IMC" id="imc" :rules="imcRules" v-model="measurement.imc"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Grasa" id="fat" :rules="fatRules" v-model="measurement.fat"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="% de músculo" id="muscle" :rules="muscleRules" v-model="measurement.muscle"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Gasto calórico" id="caloricExpenditure" :rules="caloricExpenditureRules" v-model="measurement.caloricExpenditure"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Edad metabólica" id="metabolicAge" :rules="metabolicAgeRules" v-model="measurement.metabolicAge"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Grasa visceral" id="visceralFat" :rules="visceralFatRules" v-model="measurement.visceralFat"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Pecho" id="chest" :rules="chestRules" v-model="measurement.chest"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Abdomen alto" id="highAbdomen" :rules="highAbdomenRules" v-model="measurement.highAbdomen"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Abdomen bajo" id="lowerAbdomen" :rules="lowerAbdomenRules" v-model="measurement.lowerAbdomen"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Cintura" id="waist" :rules="waistRules" v-model="measurement.waist"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Glúteos" id="buttocks" :rules="buttocksRules" v-model="measurement.buttocks"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Pierna derecha" id="rightLeg" :rules="rightLegRules" v-model="measurement.rightLeg"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Pierna izquierda" id="lefttLeg" :rules="leftLegRules" v-model="measurement.leftLeg"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Pantorrilla derecha" id="rightCalf" :rules="rightCalfRules" v-model="measurement.rightCalf"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Pantorrilla izquierda" id="leftCalf" :rules="leftCalfRules" v-model="measurement.leftCalf"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Brazo derecho relajado" id="relaxedRightArm" :rules="relaxedRightArmRules" v-model="measurement.relaxedRightArm"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Brazo derecho tensionado" id="rightArmStressed" :rules="rightArmStressedRules" v-model="measurement.rightArmStressed"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Brazo izquierdo relajado" id="relaxedLeftArm" :rules="relaxedLeftArmRules" v-model="measurement.relaxedLeftArm"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="2" lg="2">
                                            <v-text-field label="Brazo izquierdo tensionado" id="leftArmStressed" :rules="leftArmStressedRules" v-model="measurement.leftArmStressed"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="12" lg="12">
                                            <v-btn type="submit" color="success">Guardar</v-btn>
                                            <v-btn @click.stop="setD(false)" color="error">Cancelar</v-btn>
                                        </v-col>
                                        </v-row>
                                        </v-form>    
                            </v-container>
                        </v-card-text>
                    </v-card>
                    </v-row>
                </v-container>   
            </v-dialog>
        <v-snackbar
                v-model="snackbar.visible"
                :timeout="2000"
                right
                shaped
                bottom
                :color="snackbar.color"
                elevation="24"
                transition="fab-transition"
            >
                <v-icon left>
                  {{ snackbar.icon }}
                </v-icon>
                {{ snackbar.message }}
        </v-snackbar>
    </div>
</template>

<script src = "../../UsersModule/UserAuth/RegisterMeasurementsScript.js"></script>