<template>
    <div>
        <div class="container card cols-12 col-lg-12 primary text-center p-2 my-2">
            <h1 class="font-weight-bold text-white">Observaciones</h1>
        </div>
        <v-container>
            <v-row>
                <v-col cols="12" sm="6" md="6">
                    <createobservation-component></createobservation-component>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                    <listuserauth-observations-component></listuserauth-observations-component>
                </v-col>   
            </v-row>
        </v-container>
        
    </div>
</template>

<style src="../../UsersModule/UserAuth/UserAuthObservationsStyle.css"></style>

<script src="../../UsersModule/UserAuth/UserAuthObservationsScript.js"></script>