<template>
    <div>
        <!-- <div class="ml-5">
            <button class="btn button-icon bg-white" data-toggle="modal" data-target="#termsModal" data-backdrop="static" data-keyboard="false"><i class="fas fa-user-plus fa-3x text-success" data-toggle="tooltip" data-placement="top" title="crear usuario"></i></button>
            <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Creación de usuarios</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyForm()">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body">
                            <form class="list-group-item" @submit.prevent="create"> 
                                <div class="form-group">
                                    <h2 class="my-3 font-weight-bolder">Creación de usuario</h2>
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" v-model="user.email">
                                    <div v-if="errorEmail" class="red-text" role="alert">Este campo es obligatorio</div>
                                    <div v-if="errors.email" class="red-text" role="alert">{{errors.email[0]}}</div>
                                </div>
                                <div class="row">
                                    <div class="cols-12 col-md-6">
                                        <h5>Plan</h5>
                                        <div class="form-group form-radio" v-for="(plan,index) in plans" :key="index">
                                        <input type="radio" class="form-radio-input" id="userPlan" v-model="checkPlans" v-bind:value="plan.name" >
                                        <label class="form-radio-label" for="admin">{{plan.name}}</label>   
                                        </div>
                                        <div v-if="errorCheckPlan" class="red-text" role="alert">Debe seleccionar un plan</div>
                                
                                    </div>
                                    <div class="cols-12 col-md-6">
                                        <h5>Roles</h5>
                                        <div class="form-group form-check" v-for="(role,index) in roles" :key="index" >
                                        <input type="checkbox" @click="loadplans(role)" class="form-check-input"  :id="['userRole' + index]" v-model="checkRoles" v-bind:value="role.value">
                                        
                                        <label class="form-check-label" for="admin">{{role.text}}</label>   
                                        </div>
                                        <div v-if="errorCheckRoles" class="red-text" role="alert">Seleccione al menos un rol</div>  
                                    </div>  
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary m-auto">Crear</button>
                                    <button class="btn btn-warning m-auto" @click="emptyForm()" data-dismiss="modal">Cerrar</button>    
                                </div> 
                                <FlashMessage :position="'right bottom'"></FlashMessage>      
                            </form>        
                        </div>
                    </div>
                </div>
            </div>              
        </div> -->

        <v-btn
            style="outline:none"
            color="success"
            dark
            fab
            @click.stop="dialog = true"
            >
            <v-icon dark large>
                mdi-plus
            </v-icon>
            </v-btn>

            <v-dialog
            v-model="dialog"
            persistent
            width="610px"
            >
                <v-container>
                    <v-row justify="center">
                        <v-card class="elevation-5" width="600px">
                        <v-card-title>
                            <span class="headline">Creación de usuario</span>
                        </v-card-title>
                        <v-card-text>
                                <v-form
                                @submit.prevent="validate"
                                ref="form"
                                v-model="valid"
                                lazy-validation
                                >
                                <v-text-field
                                    v-model="user.email"
                                    :rules="emailRules"
                                    label="Correo electrónico"
                                    required 
                                ></v-text-field>

                                <v-select
                                    v-model="checkRoles"
                                    :items="roles"
                                    item-text="text"
                                    item-value="value"
                                    item-disabled="disabled"
                                    chips
                                    deletable-chips
                                    :rules="rolesRules"
                                    label="Asigna rol/es"
                                    multiple
                                    required
                                    
                                ></v-select>
                                <v-select
                                v-if="visiblePlans"
                                v-model="user.plan_id"
                                :items="getPlansC"
                                item-text="name"
                                item-value="id"
                                :rules="planRules"
                                label="Selecciona un plan"
                                dense
                                chips
                                ></v-select>
                                <v-btn
                                    :disabled="!valid"
                                    color="primary"
                                    class="mr-4 my-4"
                                    type="submit"
                                >
                                    Crear
                                </v-btn>
                                <v-btn color="error" @click="reset()" data-dismiss="modal"
                                >Cancelar
                                </v-btn
                                >
                                
                                <v-snackbar
                                    v-model="snackbar.visible"
                                    :timeout="2000"
                                    right
                                    shaped
                                    centered
                                    :color="snackbar.color"
                                    elevation="24"
                                    transition="fab-transition"
                                >
                                    <v-icon left>
                                    {{ snackbar.icon }}
                                    </v-icon>
                                    {{ snackbar.message }}
                                </v-snackbar>
                                </v-form>
                        </v-card-text>
                    </v-card>
                    </v-row>
                </v-container>   
            </v-dialog>
         <!-- 
                                <v-row>
                                    <v-col v-for="(role, index) in roles" :key="index" cols="12" md="4">
                                        <v-switch
                                        @click="c"
                                        v-model="checkRoles"
                                        :label="roles[index].toString()"
                                        :value="roles[index].value"
                                        :disabled="roles[index].disabled"
                                        ></v-switch>    
                                    </v-col>    
                                </v-row> -->
    </div>
    
</template>

<style>
    .container-form{
        width: 500px;
        height: auto;
        background: white;
        margin: auto;
        padding: 20px;
        box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    label{
        font-weight: bold;
        font-size: 1em;
        
    }
        /* Las animaciones de entrada y salida pueden utilizar */
    /* diferentes funciones y duraciones                   */
    .slide-fade-enter-active {
    transition: all .3s ease;
    }
    .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
    }
</style>

<script src = "../../UsersModule/Users/CreateUserScript.js"></script>
