<template>
    <div>
        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title font-weight-bolder" id="editModal">Editar rol</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="reset()">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <v-form
                                        @submit.prevent="validate"
                                        ref="form"
                                        v-model="valid"
                                        lazy-validation
                                        >
                                        <v-select
                                            v-model="checkRoles"
                                            :items="roles"
                                            item-text="text"
                                            item-value="value"
                                            item-disabled="disabled"
                                            chips
                                            deletable-chips
                                            :rules="rolesRules"
                                            label="Asigna rol/es"
                                            multiple
                                            required
                                        ></v-select>
                                        <v-btn
                                            :disabled="!valid"
                                            color="success"
                                            class="mr-4 my-4"
                                            type="submit"
                                        >
                                            Actualizar
                                        </v-btn>
                                        <v-btn color="error" @click="reset()" data-dismiss="modal"
                                        >Cancelar
                                        </v-btn
                                        >
                                        
                                        <v-snackbar
                                            v-model="snackbar.visible"
                                            :timeout="2000"
                                            right
                                            shaped
                                            centered
                                            :color="snackbar.color"
                                            elevation="24"
                                            transition="fab-transition"
                                        >
                                            <v-icon left>
                                            {{ snackbar.icon }}
                                            </v-icon>
                                            {{ snackbar.message }}
                                        </v-snackbar>
                                        </v-form>        
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</template>

<script src = "../../UsersModule/Users/EditUserScript.js"></script>
