<template>
    <div>
                            <div class="modal fade" id="renewPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel">Pagos</h3>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="emptyFormRenewPayment()">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="p-1">
                                                <v-btn v-if="showUserPayTable" color="warning" small class="my-3" @click="showFormRenewPayment()">Renovar</v-btn>
                                                <div v-if="formRenewPayment" class="p-1">
                                                    <v-card class="elevation-5 p-3">
                                                        <v-card-title>
                                                            <v-btn v-if="formRenewPayment" class="my-2" @click="HideFormRenewPayment()"><v-icon>mdi-arrow-left-bold</v-icon></v-btn>
                                                        </v-card-title>
                                                        <v-card-subtitle>
                                                            <h3>Renovar pago</h3>
                                                        </v-card-subtitle>
                                                        <v-form 
                                                        class="mx-auto" 
                                                        @submit.prevent="validate()"
                                                        ref="form"
                                                        v-model="valid"
                                                        lazy-validation
                                                        >
                                                        <v-row>
                                                            <v-col cols="12" md="6" lg="6">
                                                                <v-select
                                                                id="choosePlan"
                                                                v-model="plan"
                                                                :items="getPlans"
                                                                item-text="name"
                                                                item-value="id"
                                                                return-object
                                                                :rules="planRules"
                                                                label="Selecciona el plan"
                                                                dense
                                                                chips
                                                                ></v-select>
                                                                <p>{{plan}}</p>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row>
                                                            <v-col cols="12" md="6" lg="6">
                                                                <v-text-field type="date" label="Fecha de pago" v-model="payment.paymentDate" readonly></v-text-field>
                                                            </v-col>
                                                            <v-col cols="12" md="6" lg="6">
                                                                <v-text-field type="date" label="Fecha de vencimiento" v-model="payment.expirationDate" :rules="dateRules"></v-text-field>
                                                            </v-col>
                                                            <v-col cols="12" md="6" lg="6">
                                                                <v-text-field label="Descuento" v-model="payment.discountPayment" :rules="discountRules"></v-text-field>
                                                            </v-col>
                                                        </v-row>
                                                            <v-btn type="submit" color="primary" class="m-auto" :disabled="!valid">Renovar</v-btn> 
                                                        </v-form>
                                                    </v-card>
                                                </div>
                                                <v-simple-table v-if="showUserPayTable" id="userPayTable">
                                                    <thead>
                                                        <tr>
                                                        <th>Recibo</th>
                                                        <th scope="col">Fecha de pago</th>
                                                        <th scope="col">Fecha de vencimiento</th>
                                                        <th scope="col">Plan</th>
                                                        <th scope="col">Valor</th>
                                                        <th scope="col">Descuento</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(item,index) in getUserPayments" :key="index">
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.paymentDate.substring(0,10)}}</td>
                                                        <td>{{item.expirationDate.substring(0,10)}}</td>
                                                        <td>{{item.typePlan}}</td>
                                                        <td>{{item.planValue}}</td>
                                                        <td>{{item.discountPayment}}</td>
                                                        <td>{{item.total}}</td>
                                                        <td class="align-content-center row"><v-btn color="error" small @click="downloadpdf(item.id)"><v-icon small data-toggle="tooltip" data-placement="top" title="Descargar recibo">mdi-file-pdf</v-icon></v-btn></td>
                                                        </tr>
                                                    </tbody>
                                                </v-simple-table>    
                                            </div>
                                            <v-snackbar
                                            v-model="getSnackbarC.visible"
                                            :timeout="2000"
                                            right
                                            shaped
                                            bottom
                                            :color="getSnackbarC.color"
                                            elevation="24"
                                            transition="fab-transition"
                                            >
                                            <v-icon left>
                                            {{ getSnackbarC.icon }}
                                            </v-icon>
                                            {{ getSnackbarC.message }}
                                            </v-snackbar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
    </div>
</template>

<script src = "../../UsersModule/Users/RenewPaymentScript.js"></script>

