<template>
    <div>
        <div
            class="modal fade"
            id="userMeasurementsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">
                            Medidas de {{ nameUserInfo }}
                        </h3>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                            @click="reset()"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <v-form
                                @submit.prevent="toCompareMeasurements"
                                ref="form"
                                v-model="valid"
                                lazy-validation
                            >
                                <v-row> 
                                    <v-col cols="12" md="5" lg="5" sm="12">
                                        <v-select
                                            id="chooseMeasurement"
                                            v-model="firstDateSelected"
                                            :items="getMeasurements"
                                            item-text="date"
                                            item-value="id"
                                            return-object
                                            chips
                                            :rules="measurement_1_Rules"
                                            label="Seleccione un registro de
                                            medidas"
                                            required
                                            @change="getMeasurement_1()"
                                        ></v-select>                                        
                                    </v-col>
                                    <v-col cols="12" md="5" lg="5" sm="12">
                                        <v-select
                                            :disabled="firstDateSelected == ''"
                                            id="chooseMeasurement2"
                                            v-model="secondDateSelected"
                                            :items="getMeasurements"
                                            item-text="date"
                                            item-value="id"
                                            return-object
                                            chips
                                            :rules="measurement_2_Rules"
                                            label="Seleccione un registro de
                                            medidas"
                                            required
                                            @change="getMeasurement_2()"
                                        ></v-select>                                        
                                    </v-col>
                                </v-row>
                                <v-btn
                                    :disabled="!valid"
                                    class="mx-auto"
                                    color="info"
                                    type="submit"
                                >
                                    Comparar
                                </v-btn>
                                <hr class="cols-12 col-lg-11" />
                            </v-form>
                        </div>
                        <v-simple-table v-if="measurements.length > 0">
                            <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-left" v-for="(item,index) in namesMeasurements" :key="index">
                                        {{item}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in measurements" :key="index">
                                    <td>{{item.date.substring(0,10)}}</td>
                                    <td>{{item.weight}}</td>
                                    <td>{{item.height}}</td>
                                    <td>{{item.imc}}</td>
                                    <td>{{item.fat}}</td>
                                    <td>{{item.muscle}}</td>
                                    <td>{{item.caloricExpenditure}}</td>
                                    <td>{{item.metabolicAge}}</td>
                                    <td>{{item.visceralFat}}</td>
                                    <td>{{item.chest}}</td>
                                    <td>{{item.highAbdomen}}</td>
                                    <td>{{item.lowerAbdomen}}</td>
                                    <td>{{item.waist}}</td>
                                    <td>{{item.buttocks}}</td>
                                    <td>{{item.rightLeg}}</td>
                                    <td>{{item.leftLeg}}</td>
                                    <td>{{item.rightCalf}}</td>
                                    <td>{{item.leftCalf}}</td>
                                    <td>{{item.relaxedRightArm}}</td>
                                    <td>{{item.rightArmStressed}}</td>
                                    <td>{{item.relaxedLeftArm}}</td>
                                    <td>{{item.leftArmStressed}}</td>
                                </tr>
                                <tr v-if="measurements.length > 0">
                                    <td class="bg-light-gray">{{measurementResult.date}}</td>
                                    <td :class="{'text-danger': measurementResult.weight < 0,'text-success': measurementResult.weight > 0 }">{{measurementResult.weight}}</td>
                                    <td :class="{'text-danger': measurementResult.height < 0,'text-success': measurementResult.height > 0 }">{{measurementResult.height}}</td>
                                    <td :class="{'text-danger': measurementResult.imc < 0,'text-success': measurementResult.imc > 0 }">{{measurementResult.imc}}</td>
                                    <td :class="{'text-danger': measurementResult.fat < 0,'text-success': measurementResult.fat > 0 }">{{measurementResult.fat}}</td>
                                    <td :class="{'text-danger': measurementResult.muscle < 0,'text-success': measurementResult.muscle > 0 }">{{measurementResult.muscle}}</td>
                                    <td :class="{'text-danger': measurementResult.caloricExpenditure < 0,'text-success': measurementResult.caloricExpenditure > 0 }">{{measurementResult.caloricExpenditure}}</td>
                                    <td :class="{'text-danger': measurementResult.metabolicAge < 0,'text-success': measurementResult.metabolicAge > 0 }">{{measurementResult.metabolicAge}}</td>
                                    <td :class="{'text-danger': measurementResult.visceralFat < 0,'text-success': measurementResult.visceralFat > 0 }">{{measurementResult.visceralFat}}</td>
                                    <td :class="{'text-danger': measurementResult.chest < 0,'text-success': measurementResult.chest > 0 }">{{measurementResult.chest}}</td>
                                    <td :class="{'text-danger': measurementResult.highAbdomen < 0,'text-success': measurementResult.highAbdomen > 0 }">{{measurementResult.highAbdomen}}</td>
                                    <td :class="{'text-danger': measurementResult.lowerAbdomen < 0,'text-success': measurementResult.lowerAbdomen > 0 }">{{measurementResult.lowerAbdomen}}</td>
                                    <td :class="{'text-danger': measurementResult.waist < 0,'text-success': measurementResult.waist > 0 }">{{measurementResult.waist}}</td>
                                    <td :class="{'text-danger': measurementResult.buttocks < 0,'text-success': measurementResult.buttocks > 0 }">{{measurementResult.buttocks}}</td>
                                    <td :class="{'text-danger': measurementResult.rightLeg < 0,'text-success': measurementResult.rightLeg > 0 }">{{measurementResult.rightLeg}}</td>
                                    <td :class="{'text-danger': measurementResult.leftLeg < 0,'text-success': measurementResult.leftLeg > 0 }">{{measurementResult.leftLeg}}</td>
                                    <td :class="{'text-danger': measurementResult.rightCalf < 0,'text-success': measurementResult.rightCalf > 0 }">{{measurementResult.rightCalf}}</td>
                                    <td :class="{'text-danger': measurementResult.leftCalf < 0,'text-success': measurementResult.leftCalf > 0 }">{{measurementResult.leftCalf}}</td>
                                    <td :class="{'text-danger': measurementResult.relaxedRightArm < 0,'text-success': measurementResult.relaxedRightArm > 0 }">{{measurementResult.relaxedRightArm}}</td>
                                    <td :class="{'text-danger': measurementResult.rightArmStressed < 0,'text-success': measurementResult.rightArmStressed > 0 }">{{measurementResult.rightArmStressed}}</td>
                                    <td :class="{'text-danger': measurementResult.relaxedLeftArm < 0,'text-success': measurementResult.relaxedLeftArm > 0 }">{{measurementResult.relaxedLeftArm}}</td>
                                    <td :class="{'text-danger': measurementResult.leftArmStressed < 0,'text-success': measurementResult.leftArmStressed > 0 }">{{measurementResult.leftArmStressed}}</td>
                                </tr>
                            </tbody>
                            </template>
                        </v-simple-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src = "../../UsersModule/Users/TheirBodyScript.js"></script>
