<template>
    <div>
        <div class="d-inline-flex">
            <createuser-component></createuser-component>
            <div class="form-group ml-4">
                <v-text-field label="Buscar" id="search" v-model="filtro"></v-text-field>
            </div>
        </div>
        <div class="container row">
            <v-card v-for="(item,index) in userfiltro" :key="index" class="elevation-5 mt-3" width="400px">
                <v-card-text>
                    <v-avatar
                    v-if="item.name === null"
                    class="ma-3"
                    size="125"
                    tile
                    >
                        <v-img :src="`${item.photo}`" :alt="`foto de perfil de Usuario ${item.id}`"></v-img>
                    </v-avatar>
                    <v-avatar
                    v-else
                    class="ma-3"
                    size="125"
                    tile
                    >
                        <v-img :src="`${item.photo}`" :alt="`foto de perfil de ${item.name}`"></v-img>
                    </v-avatar>
                    <h5 v-if="item.name === null" class="">Usuario {{item.id}}</h5>
                    <h5 v-else class="">{{item.name}}</h5>
                    <p class="" style="margin-left:100px">Correo: {{item.email}}</p>
                    <p class="" style="margin-left:100px">Roles:
                    <v-avatar
                    v-if="item.administrador == 1"
                    color="orange"
                    size="34"
                    >
                    <span class="white--text font-weight-bold">Ad</span>
                    </v-avatar>
                    <v-avatar
                    v-if="item.coach == 1"
                    color="info"
                    size="34"
                    >
                    <span class="white--text font-weight-bold">Co</span>
                    </v-avatar> 
                    <v-avatar
                    v-if="item.atleta == 1"
                    color="success"
                    size="34"
                    >
                    <span class="white--text font-weight-bold">At</span>
                    </v-avatar>
                    </p>
                    <p class="" style="margin-left:100px">Plan: {{item.plan_id}} $80.000</p>
                    <p class="" style="margin-left:100px">Vence: 20/08/2020</p>
                    <!-- <button class="btn blue-gradient btn-sm"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="Reservar clase">event</i></button> -->
                    <hr>
                    <div class="footer d-inline-flex">

                        <!-- Editar usuario -->
                        <v-btn v-if="user_auth.administrador == 1" fab small class="size-button mx-1" color="warning" data-toggle="modal" data-target="#editUserModal" data-backdrop="static" data-keyboard="false" @click="setUser(item)"><i class="fas fa-pen-square fa-2x" data-toggle="tooltip" data-placement="top" title="Editar rol"></i></v-btn>
                        <edituser-component v-if="user_auth.administrador == 1"></edituser-component>                        
                        <!-- Fin Editar usuario -->

                        <!-- Información general usuario -->
                        <v-btn class="size-button mx-1" fab small color="info" data-toggle="modal" data-target="#infoUserModal" @click="getUserInfo(item.id)"><i class="fas fa-info-circle fa-2x" data-toggle="tooltip" data-placement="top" title="Información general"></i></v-btn>
                        <userinfo-component></userinfo-component>
                        <!-- Información general usuario -->

                        <!-- Renovar pago -->
                        <v-btn color="success" fab small class="size-button mx-1" data-toggle="modal" data-target="#renewPaymentModal" data-backdrop="static" data-keyboard="false" @click="setUserId(item.id)"><i class="fas fa-dollar-sign fa-2x" data-toggle="tooltip" data-placement="top" title="Ver pagos"></i></v-btn>
                        <renewpayment-component v-if="user_auth.administrador == 1" :userId="userId"></renewpayment-component>              
                        <!-- Fin Renovar pago -->
                        <!-- <contactuser-component></contactuser-component> -->

                        <!-- Listar observaciones usuario -->
                        <v-btn color="black" fab small class="size-button mx-1" data-toggle="modal" data-target="#observationsModal" data-backdrop="static" data-keyboard="false" @click="getUserObservations(item.id)"><i class="fas fa-eye fa-2x white--text" data-toggle="tooltip" data-placement="top" title="Ver observaciones"></i></v-btn>
                        <userobservations-component></userobservations-component>                  
                        <!-- Fin Listar obsrvaciones usuario -->
                        
                        <!-- Su cuerpo -->
                        <v-btn color="success" fab small class="size-button mx-1" data-toggle="modal" data-target="#userMeasurementsModal" data-backdrop="static" data-keyboard="false" @click="getUserMeasurements(item.id)"><i class="fas fa-child fa-2x" data-toggle="tooltip" data-placement="top" title="Su cuerpo"></i></v-btn>
                        <theirbody-component></theirbody-component>
                        <!-- Fin Su cuerpo -->
                    </div>
                </v-card-text>
            </v-card>            
        </div>        
    </div>
</template>

<style>
.img-size{
    width: 200px;
    height: 140px;
    animation: none;
}
.img-size-table{
    width: 80px;
    height: 80px;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);      
    animation: none;
}
    label{
        font-weight: normal;
    }
    .Info-label{
        font-weight: bold;
}
</style>

<script src = "../../UsersModule/Users/UserListscript.js"></script>