<template>
    <div class="mx-5">
        <div class="cols-12 col-lg-12 bg-primary text-center p-2 my-4">
            <h1 class="font-weight-bold text-white">Usuarios</h1>
        </div>
        <div class="mx-3" style="top:50px;left:60">
            <transition>
                <userlist-component></userlist-component>
            </transition>
        </div>
    </div>
</template>
<style >
        /* Las animaciones de entrada y salida pueden utilizar */
    /* diferentes funciones y duraciones                   */
    .v-enter-active, .v-leave-active {
    transition: opacity .5s;
    }
    .v-enter, .v-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    opacity: 0;
    }
</style>