<template>
    <div>
                    <div class="modal fade" id="infoUserModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="infoModal">Información General</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div >
                                <div class="modal-body p-3">
                                    <form class="row">
                                        <div class="cols-12 col-lg-12 row">
                                        <div class="form-group-img my-3 cols-12 col-lg-12">
                                            <img :src="`${userInfo.photo}`" alt="" class="mx-auto img-size">
                                        </div>
                                        <div class="form-group cols-12 col-lg-6">
                                            <label for="name" class="Info-label">Nombre</label><br>
                                            <label id="name" class="">{{userInfo.name}}</label>
                                        </div>
                                        <div class="form-group cols-12 col-lg-6">
                                            <label for="id" class="Info-label">Documento Identidad</label><br>
                                            <label id="id" class="bold">{{userInfo.id_document}}</label>
                                        </div>
                                        <div class="form-group cols-12 col-lg-6">
                                            <label for="phone" class="Info-label">Telefono</label><br>
                                            <label id="phone">{{userInfo.telephone}}</label>
                                        </div>
                                        <div class="form-group cols-12 col-lg-6">
                                            <label for="email" class="Info-label">Correo electrónico</label><br>
                                            <label id="email">{{userInfo.email}}</label>
                                        </div>
                                        <div class="form-group cols-12 col-lg-12">
                                            <label for="birthday" class="Info-label">Fecha de cumpleaños</label><br>
                                            <label id="birthday">{{userInfo.date_of_birth}}</label>
                                        </div>
                                        <h5 class="cols-12 col-lg-12 bold Info-label">Contacto de emergencia</h5>
                                        <div class="form-group cols-12 col-lg-6">
                                            <label for="contactName" class="Info-label">Nombre</label><br>
                                            <label id="contactName">{{userInfo.name_contact_emergency}}</label>
                                        </div>
                                        <div class="form-group cols-12 col-lg-6">
                                            <label for="contactPhone" class="Info-label">Telefono</label><br>
                                            <label id="contactPhone">{{userInfo.telephone_contact_emergency}}</label>
                                        </div>  
                                        </div>  
                                    </form>        
                                </div>
                            </div>
                        </div>
                    </div>                 
    </div>
</template>

<style>
.img-size{
    width: 200px;
    height: 140px;
    animation: none;
}
.img-size-table{
    width: 80px;
    height: 80px;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);      
    animation: none;
}
    label{
        font-weight: normal;
    }
    .Info-label{
        font-weight: bold;
}
</style>

<script src = "../../UsersModule/Users/UserInfoScript.js"></script>

