<template>
    <div>
        <div
            class="modal fade"
            id="observationsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">
                            Observaciones
                        </h3>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-2">
                            <div v-for="(item, index) in getObservations" :key="index">
                                <div class="card p-3 my-2">
                                    <label for="" class="font-weight-bold">
                                        Fecha de clase:
                                        <label for="">
                                            {{item.class_date}}
                                        </label>
                                    </label>
                                    <label for="" class="font-weight-bold">
                                        Descripción:
                                    </label>
                                    <label for="">{{ item.description }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src = "../../UsersModule/Users/UserObservationsScript.js"></script>
